@use "sass:math";
@use "../shitaji" as *;

.o-header__logo {
  @media (--lg) {
    margin-bottom: 32px;
  }
}

/* ユーザー */

.o-header__heading {
  margin-bottom: 40px;
}

.o-header__user {
  margin-bottom: 16px;

  img {
    width: 56px;
    height: 56px;
  }
}

.o-header__name {
  display: grid;
  grid-template-columns: 1fr 40px;
  column-gap: 8px;
  align-items: center;

  margin-bottom: 24px;
}

.o-header__name-heading {
  @include zenmaru;
}

.o-header__buttons {
  li {
    + li {
      margin-top: 16px;
    }
  }
}

.o-header__buttons-body {
  a {
    padding: 8px 16px;
  }
}

/* お迎え意向 */
.o-header__omukae {
  @include flex(flex-start, center, nowrap);

  column-gap: 8px;
}

.o-header__omukae-heading {
  @include fz(13, 16, 0.03);
  @include zenkaku(700);
}

/* ナビゲーション */

.o-nav__list {
  li {
    + li {
      margin-top: 16px;
    }
  }

  a {
    @include zenmaru;

    display: grid;
    grid-template-columns: 18px 1fr;
    column-gap: 12px;
    color: $black;
    align-items: center;
  }

  span {
    display: block;
  }

  i {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.o-nav__home {
  i {
    background-image: url("../images/icon-home.svg");
    width: 18px;
    height: 18px;
  }
}

.o-nav__chat {
  i {
    background-image: url("../images/icon-chat.svg");
    width: 18px;
    height: 18px;
  }
}

.o-nav__news {
  i {
    background-image: url("../images/icon-news.svg");
    width: 16px;
    height: 20px;
  }
}

.o-nav__request {
  i {
    background-image: url("../images/icon-request.svg");
    width: 18px;
    height: 16px;
  }
}

.o-nav__mypage {
  i {
    background-image: url("../images/icon-mypage.svg");
    width: 18px;
    height: 18px;
  }
}

.o-nav__button {
  @media (--md) {
    cursor: pointer;
    position: fixed;
    right: 16px;
    top: 5px;
    width: 56px;
    height: 60px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    span {
      display: inline-block;
      transition: all 0.4s;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      height: 4px;
      border-radius: 8px;
      background: $gray;
      width: 38px;

      &:nth-of-type(1) {
        top: 18px;
      }

      &:nth-of-type(2) {
        top: 31px;
      }

      &:nth-of-type(3) {
        top: 44px;
      }
    }

    &.is-active {
      span {
        &:nth-of-type(1) {
          top: 28px;
          transform: translateY(6px) rotate(-45deg);
          width: 30px;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          top: 40px;
          transform: translateY(-6px) rotate(45deg);
          width: 30px;
        }
      }
    }
  }
}

.o-nav__body {
  @media (--md) {
    opacity: 0;
    visibility: hidden;
    background-color: $yellow-3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 16px;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.o-header__logo-sp {
  @media (--md) {
    margin-bottom: 24px;
  }
}
