@use "sass:math";
@use "../shitaji" as *;

.o-modal__inner {
  background-color: rgba(66, 66, 66, 0.6);
  padding: 80px 0 40px;
  height: 100%;
}

@mixin button() {
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  right: 16px;
  top: -1px;
  width: 30px;
  height: 30px;

  span {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    background: $white;
    width: 38px;

    &:nth-of-type(1) {
      top: 28px;
      transform: translateY(6px) rotate(-45deg);
      width: 30px;
    }

    &:nth-of-type(2) {
      top: 40px;
      transform: translateY(-6px) rotate(45deg);
      width: 30px;
    }
  }
}

.o-modal__close {
  @include button();
}

.o-modal__content {
  @include bg($white);

  border: 2px $yellow solid;
  border-radius: 16px;
  padding: 24px math.div(16, 340) * 100%;
  margin: 0 math.div(24, 375) * 100%;

  @media (--lg) {
    @include max-width(720px);
  }
}

.o-modal__tojiru {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 24px;

  &:hover {
    text-decoration: none;
  }
}
