<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'チャット'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper t-layout">
      <div class="t-layout__inner">
        <%- include("../_header-login"); %>
        <div class="t-layout__content">
          <main class="p-chat">
            <!-- heading -->
            <div class="t-layout__heading">
              <a href="index.html"><i></i> </a>
              <div class="t-layout__heading-title">チャット</div>
            </div>
            <!-- /heading -->
            <div class="p-chat-heading">
              <div class="p-chat-heading__icon">
                <a href=""><img src="../assets/images/img-user.svg" alt="" /></a>
              </div>
              <div class="p-chat-heading__user">suzuki</div>
              <div class="p-chat-heading__report">
                <i>
                  <img src="../assets/images/icon-report.svg" alt="" />
                </i>
                <span>通報</span>
              </div>
            </div>
            <div class="p-chat__inner">
              <section class="p-chat-section">
                <div class="p-chat-section__time">1月7日 12:10</div>
                <div class="p-chat-section__content p-chat-reception">
                  <div class="p-chat-section__icon">
                    <a href=""><img src="../assets/images/img-user.svg" alt="" /></a>
                  </div>
                  <div class="p-chat-section__body">
                    <div class="p-chat-section__text p-chat-reception__text">
                      <p>
                        <img src="../assets/images/dummy-01.png" alt="" />
                      </p>
                    </div>
                    <div class="p-chat-section__text p-chat-reception__text">
                      <p>
                        新年あけましておめでとうございます。<br />
                        本年もどうぞよろしくお願い申し上げます。
                      </p>
                    </div>
                  </div>
                </div>

                <div class="p-chat-section__content p-chat-send">
                  <div class="p-chat-section__body">
                    <div class="p-chat-section__text p-chat-send__text">
                      <p>
                        <img src="../assets/images/dummy-01.png" alt="" />
                      </p>
                    </div>
                    <div class="p-chat-section__text p-chat-send__text">
                      <p>
                        新年あけましておめでとうございます。<br />
                        本年もどうぞよろしくお願い申し上げます。
                      </p>
                    </div>
                  </div>
                </div>
              </section>

              <section class="p-chat-section">
                <div class="p-chat-section__time">1月7日 12:10</div>
                <div class="p-chat-section__content p-chat-reception">
                  <div class="p-chat-section__icon">
                    <a href=""><img src="../assets/images/img-user.svg" alt="" /></a>
                  </div>
                  <div class="p-chat-section__body">
                    <div class="p-chat-section__text p-chat-reception__text">
                      <p>
                        <img src="../assets/images/dummy-01.png" alt="" />
                      </p>
                    </div>
                    <div class="p-chat-section__text p-chat-reception__text">
                      <p>
                        新年あけましておめでとうございます。<br />
                        本年もどうぞよろしくお願い申し上げます。
                      </p>
                    </div>
                  </div>
                </div>

                <div class="p-chat-section__content p-chat-send">
                  <div class="p-chat-section__body">
                    <div class="p-chat-section__text p-chat-send__text">
                      <p>
                        <img src="../assets/images/dummy-01.png" alt="" />
                      </p>
                    </div>
                    <div class="p-chat-section__text p-chat-send__text">
                      <p>
                        新年あけましておめでとうございます。<br />
                        本年もどうぞよろしくお願い申し上げます。
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="p-chat-bottom">
              <form id="message-form" class="conversation-compose">
                <input id="message-input" class="input-msg" name="input" placeholder="メッセージを入力" autocomplete="off" autofocus />
                <button class="send" type="submit">
                  <i class="fa fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </main>
        </div>
        <%- include("../_footer"); %>
      </div>
    </div>
  </body>
</html>
