<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'チャット'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper t-layout">
      <div class="t-layout__inner">
        <%- include("../_header-login"); %>
        <div class="t-layout__content">
          <main class="p-chat">
            <!-- heading -->
            <div class="t-layout__heading">
              <div class="t-layout__heading-title">チャット</div>
            </div>
            <!-- /heading -->
            <div>
              <div class="o-modal">
                <div class="p-chat-attention">
                  <button data-modal="modal-chat-attention" class="js-modal-button"><i></i><span>チャットでの禁止事項</span></button>
                </div>
                <div class="p-chat-attention-modal js-modal o-modal__inner" id="modal-chat-attention">
                  <div class="p-top-guide__modal-inner">
                    <div class="js-modal-close o-modal__close">
                      <span></span>
                      <span></span>
                    </div>
                    <div class="o-modal__content">
                      <div class="p-chat-attention-modal__heading"><i></i><span>チャットでの禁止事項</span></div>
                      <div class="p-chat-attention-modal__content">
                        <p>
                          当チャットは、犬舎・猫舎への見学までのコミュニケーションツールを目的としてご提供しております。<br />
                          その為、トラブル防止の観点から、下記の行為を禁止します。<br />
                          チャット前に必ず禁止事項をご確認いただき、ルール厳守の上ご利用いただけますようよろしくお願いいたします。
                        </p>
                        <ul class="p-chat-attention-modal__list m-list-dot">
                          <li>個人情報の公開や依頼※1</li>
                          <li>ブリーダー情報の公開や依頼</li>
                          <li>他者への中傷行為</li>
                          <li>値段（価格）交渉</li>
                          <li>KEEPを含む全ての成約交渉</li>
                          <li>その他、上記目的に相応しくないと思える行為</li>
                        </ul>
                        <p>▼見学申込確定後、お客様·ブリーダーの個人情報が公開されますので、チャット上での見学の申込や、個人情報の公開及び依頼は、ご遠慮ください。</p>
                        <p>
                          ▼オンライン見学をご希望の場合は、チャット上でオンライン希望のコミュニケーションをお願いいたします。<br />
                          ※オンライン見学が対応可能なブリーダーは、対応可能マークが表示されます。
                        </p>
                        <p>
                          チャット内容を鑑み、成約特典や当サイトの利用をお断りする場合があります。<br />
                          すべての方が気持ちよく利用できるサイトを目指しておりますので、何卒ご協力のほどよろしくお願い申し上げます。
                        </p>
                      </div>
                      <div class="o-modal__tojiru js-modal-close">とじる</div>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="p-chat-list">
                <li class="p-chat-list__item">
                  <a href="../index-02.html">
                    <div class="p-chat-list__body">
                      <div class="p-chat-list__icon"><img src="../assets/images/img-user.svg" alt="" /></div>
                      <div class="p-chat-list__content">
                        <div class="p-chat-list__user">suzuki</div>
                        <div class="p-chat-list__text">先日は見学にお越しいただき、ありがとうございまし…</div>
                      </div>
                      <div class="p-chat-list__info">
                        <div class="p-chat-list__time">23:08</div>
                        <div class="p-chat-list__notice a-icon">
                          <span> 1 </span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="p-chat-list__item">
                  <a href="../index-02.html">
                    <div class="p-chat-list__body">
                      <div class="p-chat-list__icon"><img src="../assets/images/img-user.svg" alt="Pettrio" /></div>
                      <div class="p-chat-list__content">
                        <div class="p-chat-list__user">naito</div>
                        <div class="p-chat-list__text">先日は見学にお越しいただき、ありがとうございまし…</div>
                      </div>
                      <div class="p-chat-list__info">
                        <div class="p-chat-list__time">23:08</div>
                        <div class="p-chat-list__notice a-icon">
                          <span> 1 </span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="p-chat-list__item">
                  <a href="../index-02.html">
                    <div class="p-chat-list__body">
                      <div class="p-chat-list__icon"><img src="../assets/images/img-user.svg" alt="Pettrio" /></div>
                      <div class="p-chat-list__content">
                        <div class="p-chat-list__user">シーガル【運営】</div>
                        <div class="p-chat-list__text">先日は見学にお越しいただき、ありがとうございまし…</div>
                      </div>
                      <div class="p-chat-list__info">
                        <div class="p-chat-list__time">23:08</div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </main>
        </div>
        <%- include("../_footer"); %>
      </div>
    </div>
  </body>
</html>
