<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'Support'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <%- include("../_header"); %>
      <div class="p-dansanashi">
        <div>
          <div class="a-heading--type1 p-hints__heading">
            <div class="a-heading__en">Support</div>
          </div>
          <div class="m-block-metro">
            <img class="m-block-metro__image" src="../assets/images/icon-metro-bl.svg" alt="" />
            <div class="m-block-metro__text">「地下謎への招待状」<br />サポートページじゃ。<br />必要なときに見るとよいぞ。</div>
          </div>

          <!-- 第2章 -->
          <section class="p-dansanashi-section">
            <div class="p-dansanashi-section__heading">
              <div class="p-dansanashi-section__title-02">
                <span>
                  <img class="" src="../assets/images/hints/h-02.svg" alt="2nd Mission" />
                </span>
              </div>
            </div>
            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">門前仲町駅</div>
              <ul class="p-hints-section__list">
                <li>
                  <input id="support-mo-01" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-mo-01"><i></i>STEP1 チームA<br />2が見つからない場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>普段の景色はこちらです。この景色を見て、謎を解き明かしてください。</p>
                    <p>
                      <img class="" src="../assets/images/support/support-mo-01.png" />
                    </p>
                  </div>
                </li>
                <li>
                  <input id="support-mo-02" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-mo-02"><i></i>STEP1 チームB<br />3が見つからない場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>普段の景色はこちらです。この景色を見て、謎を解き明かしてください。</p>
                    <p>
                      <img class="" src="../assets/images/support/support-mo-02.png" />
                    </p>
                  </div>
                </li>
                <li>
                  <input id="support-mo-03" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-mo-03"><i></i>STEP1 チームB<br />4が見つからない場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>普段の景色はこちらです。この景色を見て、謎を解き明かしてください。</p>
                    <p>
                      <img class="" src="../assets/images/support/support-mo-03.png" />
                    </p>
                  </div>
                </li>
              </ul>
            </article>

            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">二重橋駅</div>
              <ul class="p-hints-section__list">
                <li>
                  <input id="support-nj-01" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-nj-01"><i></i>23:00以降、駅に来た場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>ルートは以下です。</p>
                    <p>
                      出口4から出て、真っ直ぐ歩け。<br />
                      正面に横断歩道が見えたら渡り、すぐ右に曲がって進め。<br />
                      しばらく真っ直ぐ歩き、正面に横断歩道が現れたら渡って、さらに真っ直ぐ進め。<br />
                      2つ目の横断歩道が現れたら、渡らずに左斜め後ろを向いて上を見ろ。<br />
                      そこにある時計の下をくぐって進め。<br />
                      レンガ造りの建築物を見つけたら、ガイドブックの20pを開いて謎を解け。
                    </p>
                  </div>
                </li>
                <li>
                  <input id="support-nj-02" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-nj-02"><i></i>STEP2<br />一部の景色が見えない場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p><img class="o-accordion__arrow" src="../assets/images/support/icon-arrow-bl.svg" /> で指された場所の普段の景色はこちらです。この景色を見て、謎を解き明かしてください。</p>
                    <p>
                      <img class="" src="../assets/images/support/support-nj-02.png" />
                    </p>
                  </div>
                </li>
              </ul>
            </article>

            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">御茶ノ水駅</div>
              <ul class="p-hints-section__list">
                <li>
                  <input id="support-oc-01" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-oc-01"><i></i>9:30〜16:00以外の<br />時間に来た場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>施設で見つけることのできる「門に書かれた漢字」はこちらです。これらの写真を見て、謎を解き明かしてください。</p>
                    <p>
                      <img class="" src="../assets/images/support/support-oc-01.png" />
                    </p>
                  </div>
                </li>
              </ul>
            </article>
          </section>
          <!-- /第2章 -->

          <!-- 第3章 -->
          <section class="p-dansanashi-section">
            <div class="p-dansanashi-section__heading">
              <div class="p-dansanashi-section__title-03">
                <span>
                  <img class="" src="../assets/images/hints/h-03.svg" alt="2nd Mission" />
                </span>
              </div>
            </div>

            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">36pの駅</div>
              <ul class="p-hints-section__list">
                <li>
                  <input id="support-ro-01" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-ro-01"><i></i>2nd Mission各駅からの<br />おすすめルートはこちら</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>
                      各駅から六本木駅までのおすすめルートは以下になります。車椅子やベビーカーの方は、各駅での乗り換え情報に関しましては<a
                        href="https://www.smoothmetro.jp/"
                        class="link"
                        target="_blank"
                        >スムーズメトロ</a
                      >か<a href="https://www.babymetro.jp/" class="link" target="_blank">ベビーメトロ</a>をご確認ください。
                    </p>
                    <ul>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">雑司ヶ谷駅から六本木駅</div>
                        <p>雑司ヶ谷駅→新宿三丁目駅で丸ノ内線に乗り換え→霞ヶ関駅で日比谷線に乗り換え→六本木駅</p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">田原町駅から六本木駅</div>
                        <p>田原町駅→銀座駅で日比谷線に乗り換え→六本木駅</p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">門前仲町駅から六本木駅</div>
                        <p>門前仲町駅→茅場町駅で日比谷線に乗り換え→六本木駅</p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">二重橋前駅から六本木駅</div>
                        <p>二重橋前駅→霞ヶ関駅で日比谷線に乗り換え→六本木駅</p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">麻布十番駅から六本木駅</div>
                        <p>
                          ※電車を乗り継ぐよりも、徒歩移動の方が早く着く可能性がございます。目安としては徒歩が15~25分、電車が30~45分ほどになります。<br />
                          ご検討の上、ルートをお選びください。<br />
                          また、徒歩ルートは通常コースと段差なしコースで道順は共通です。
                        </p>
                      </li>
                    </ul>

                    <div class="p-support__block">
                      <div>電車で向かう場合</div>
                      <div class="p-support__block-body">
                        <ul>
                          <li class="m-block-support">
                            <div class="m-block-support__heading">通常コース</div>
                            <p>麻布十番駅→溜池山王駅で降り、国会議事堂前駅まで移動して乗車→霞ヶ関駅で日比谷線に乗り換え→六本木駅</p>
                          </li>
                          <li class="m-block-support">
                            <div class="m-block-support__heading">段差なしコース</div>
                            <p>麻布十番駅→四ツ谷駅で丸ノ内線に乗り換え→霞ヶ関駅で日比谷線に乗り換え→六本木駅</p>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="p-support__block">
                      <div>徒歩で向かう場合</div>
                      <div class="p-support__block-body">
                        <p>
                          最後に入った公園を出て、謎解きで登場した少女の前に向かえ。<br />
                          少女と向き合って左に進んで、横断歩道を渡り、そのまま左斜め前の道を進め。<br />
                          十字路を通り過ぎ、大通りに出るまでそのまま真っ直ぐ進め。<br />
                          大通りに出たら、左に曲がって横断歩道を渡り、すぐ右に曲がって横断歩道を渡りきれ。<br />
                          渡り切ったら、左に曲がって神社の前を通り過ぎ、道なりに進め。<br />
                          正面に横断歩道が現れたら渡って、そのまましばらく道なりに進め。<br />
                          また正面に横断歩道が現れたら渡らずに右に曲がり、しばらく道なりに進め。<br />
                          正面に公衆トイレが現れたら、左にある横断歩道を渡り、公衆トイレを背にした向きでそのまま道なりに進め。<br />
                          大きな交差点に出たら、右に現れる横断歩道を渡り、すぐ左に現れる横断歩道も渡れ。<br />
                          渡ったら左に曲がって、横断歩道は渡らずしばらく道なりに進め。<br />
                          横断歩道を2つ渡ったら、すぐ右側に地下鉄の出口が現れる。<br />
                          それが出口7だ。<br />
                          出口7の横まできたら、ガイドブックの37pの⚠️を確認してから38pを開いて謎を解け。
                        </p>
                      </div>
                    </div>
                    <ul>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">御茶ノ水駅から六本木駅</div>
                        <p>御茶ノ水駅（丸ノ内線）→霞ヶ関駅で日比谷線に乗り換え→六本木駅</p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <input id="support-ro-02" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-ro-02"
                    ><i></i>12月20日〜12月25日の<br />
                    16:00以降に来た場合</label
                  >
                  <div class="o-accordion__content p-hints-section__content">
                    <p>
                      まずは38pを開いて、下の情報に従い、<img class="o-accordion__number" src="../assets/images/dansanashi/no1.svg" /> 〜
                      <img class="o-accordion__number" src="../assets/images/dansanashi/no3.svg" />
                      に丸をつけてください。
                    </p>
                    <p><img class="o-accordion__number" src="../assets/images/dansanashi/no1.svg" /> で見つかるものは「石」です。</p>
                    <p><img class="o-accordion__number" src="../assets/images/dansanashi/no2.svg" /> で見つかるものはこちらです。</p>
                    <p>
                      <img src="../assets/images/support/support-ro-02-01.png" />
                    </p>

                    <p><img class="o-accordion__number" src="../assets/images/dansanashi/no3.svg" /> で見つかるものはこちらです。</p>
                    <p>
                      <img src="../assets/images/support/support-ro-02-02.png" />
                    </p>
                    <p>丸をつけたら、下の指示に従って歩いてください。通常コースと段差なしコースそれぞれ必要な方をご確認ください。</p>
                    <ul class="p-support__block">
                      <li>
                        <div class="m-block-support__heading">通常コース</div>
                        <p>
                          出口6から出て、正面の横断歩道を渡って真っ直ぐ進め。<br />
                          次の横断歩道も渡って左に曲がって、しばらく真っ直ぐ進め。<br />
                          そのまま横断歩道を2つ渡ったら、右を向いてガイドブックの38pを開いて下の画像を見ろ。<br />
                          「現在地」と書かれた場所が今いる場所であり、三角の向く方向を見ている。<br />
                          この上で38pの地図と矢印に従って、<img class="o-accordion__number" src="../assets/images/dansanashi/no4.svg" /> 、<img
                            class="o-accordion__number"
                            src="../assets/images/dansanashi/no5.svg"
                          />
                          を見つけて続く謎を解け。
                        </p>
                        <p>
                          <img src="../assets/images/support/support-ro-02-03.png" />
                        </p>
                      </li>
                      <li>
                        <div class="m-block-support__heading">段差なしコース</div>
                        <p>
                          1番線ホームに到着したら、2号車付近にあるエレベーターに乗り、改札階に上がれ。<br />
                          エレベーターを降りたら改札を出て真っ直ぐ進み、左に現れるスロープを降りて進め。<br />
                          広い空間に出たら左に曲がって奥にあるエレベータで地上階に上がれ。<br />
                          エレベーターを降りたら、歩道に出て左に進め。<br />
                          正面に横断歩道が現れたら渡って、左に曲がらず道なりに進み、そのまましばらく真っ直ぐ進め。<br />
                          横断歩道を2つ渡ったら、左に曲がってしばらく真っ直ぐ進め。<br />
                          そのまま横断歩道を2つ渡ったら、右を向いてガイドブックの38pを開いて下の画像を見ろ。<br />
                          「現在地」と書かれた場所が今いる場所であり、三角の向く方向を見ている。<br />
                          この上で38pの地図と矢印に従って、続く謎を解け。
                        </p>
                        <p>
                          ※<img class="o-accordion__number" src="../assets/images/dansanashi/no4.svg" /> は階段を通る必要があるため、下の写真でご確認ください。<img
                            class="o-accordion__number"
                            src="../assets/images/dansanashi/no5.svg"
                          />
                          には、公園を入ってすぐ右に曲がり、道なりに進んで向かってください。
                        </p>
                        <p>
                          <img src="../assets/images/support/support-ro-02-04.png" />
                        </p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <input id="support-ro-03" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-ro-03"><i></i>23:00以降に来た場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>
                      37pの指示に従い、出口7から出てください。出たらまずは38pを開いて <img class="o-accordion__number" src="../assets/images/dansanashi/no1.svg" /> 〜
                      <img class="o-accordion__number" src="../assets/images/dansanashi/no3.svg" /> まで情報を集め、丸をつけてください。<br />
                      <img class="o-accordion__number" src="../assets/images/dansanashi/no4.svg" /> 、<img class="o-accordion__number" src="../assets/images/dansanashi/no5.svg" />
                      については下の情報を見て、丸をつけてください。
                    </p>
                    <p><img class="o-accordion__number" src="../assets/images/dansanashi/no4.svg" /> の場所で見つかるもの</p>
                    <p>
                      <img src="../assets/images/support/support-ro-03-01.png" />
                    </p>
                    <p><img class="o-accordion__number" src="../assets/images/dansanashi/no5.svg" /> の遊具の前で見つかるもの</p>
                    <p>
                      <img src="../assets/images/support/support-ro-03-02.png" />
                    </p>
                    <p>また、39pの謎で1つだけ現地の情報が必要な問題がございます。その問題は下の情報を見て解いてください。</p>
                    <p>公園にあるすべりだいの名前</p>
                    <p>
                      <img src="../assets/images/support/support-ro-03-03.png" />
                    </p>
                  </div>
                </li>
              </ul>
            </article>
          </section>
          <!-- /第3章 -->

          <!-- 第4章 -->
          <section class="p-dansanashi-section">
            <div class="p-dansanashi-section__heading">
              <div class="p-dansanashi-section__title-04">
                <span>
                  <img class="" src="../assets/images/hints/h-04.svg" alt="4nd Mission" />
                </span>
              </div>
            </div>
            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">4th Mission後の移動</div>
              <ul class="p-hints-section__list">
                <li>
                  <input id="support-fo-01" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-fo-01"><i></i>23:00以降に来た場合</label>
                  <div class="o-accordion__content p-hints-section__content">
                    <p>
                      施設の営業時間にともない、トマトの指示通りに進むことができません。<br />
                      下の指示に従って、謎解きを進めてくださいませ。
                    </p>
                    <p>
                      出口B3についたら自動ドアを通って、すぐ左に現れるエレベーターに乗って2階へ上がれ。<br />
                      エレベータを降りたら左へ曲がり、すぐある突き当たりを右に曲がって道なりに進め。このとき、自動ドアの中には入らないこと。<br />
                      右側に膝を抱えて座る人間が現れたら、その前に行き、ガイドブックの51pの袋とじを開いて謎を解け。
                    </p>
                  </div>
                </li>
              </ul>
            </article>
          </section>
          <!-- /第4章 -->

          <!-- 第5章 -->
          <section class="p-dansanashi-section">
            <div class="p-dansanashi-section__heading">
              <div class="p-dansanashi-section__title-05">
                <span>
                  <img class="" src="../assets/images/hints/h-05.svg" alt="5th Mission" />
                </span>
              </div>
            </div>

            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">52pの駅</div>
              <ul class="p-hints-section__list">
                <li>
                  <input id="support-tr-01" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-tr-01"
                    ><i></i>イベントなどで芝生の広場に<br />入れない場合　その1<br /><span>※53pの謎を解くために見るべきものが<br />何かわかってから開いてください</span></label
                  >
                  <div class="o-accordion__content p-hints-section__content">
                    <p>芝生の広場にある文字でできた人物のなかに8種類の漢字があります。面、建、速、飾、福、意、風、波です。</p>
                  </div>
                </li>
                <li>
                  <input id="support-tr-02" type="checkbox" class="o-accordion__toggle p-hints-section__toggle" />
                  <label class="p-hints-section__label o-accordion__label" for="support-tr-02"
                    ><i></i>イベントなどで芝生の広場に<br />入れない場合　その2<br /><span>※53pの謎を解いた先で見たいものが<br />出てきたら開いてください</span></label
                  >
                  <div class="o-accordion__content p-hints-section__content">
                    <p>文字でできた人物の近くにこのような看板があります。</p>
                    <p>
                      <img class="" src="../assets/images/support/support-tr-02.png" />
                    </p>
                  </div>
                </li>
              </ul>
            </article>
          </section>
          <!-- /第5章 -->
        </div>
      </div>
      <footer class="o-footer"><%- include("../_footer"); %></footer>
    </div>
  </body>
</html>
