@use "sass:math";
@use "../shitaji" as *;

.p-breeder-profile__heading {
  grid-template-columns: 48px 1fr 96px;
}

.p-breeder-profile__button {
  @include fz(14, 24, 0.05);

  a {
    padding: 8px;
  }
}

.p-breeder__list {
  margin-top: 40px;
}

.p-breeder__button {
  margin-top: 64px;

  a {
    padding: 16px;
  }
}

.p-breeder__list-heading {
  @include zenkaku(700);

  margin-bottom: 8px;
}

.p-breeder-yellow {
  margin-top: 40px;
}

.p-breeder-yellow__note {
  @include fz(13, 18, 0.05);

  text-align: center;
  margin-top: 16px;
}
