@use "sass:math";
@use "../shitaji" as *;

.p-chat {
  position: relative;
}

.p-chat-cancel {
  padding: 0 16px;
}

.p-chat-attention {
  width: 188px;
  margin: 0 16px 16px auto;

  button {
    @include bg($yellow);
    @include zenmaru;
    @include fz(14, 14, 0.05);

    color: $gray;
    display: grid;
    grid-template-columns: 18px 1fr;
    align-items: center;
    column-gap: 8px;
    padding: 8px 4px;
    border: 2px solid $gray;
    border-radius: 8px;
  }

  i {
    display: block;
    background-image: url("../images/icon-attention.svg");
    width: 18px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.p-chat-list__item {
  border-bottom: 1px solid $gray-5;
  margin: 0;

  &:first-child {
    border-top: 1px solid $gray-5;
  }

  a {
    display: block;
    padding: 20px 8px 20px 16px;
  }
}

.p-chat-list__time {
  @include fz(12, 12, 0.03);

  color: $gray-3;
  text-align: right;
}

.p-chat-list__body {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: flex-start;
  column-gap: 16px;
}

.p-chat-list__user {
  @include zenmaru;
  @include fz(18, 18, 0.05);

  color: $black;
  margin-bottom: 8px;
}

.p-chat-list__text {
  @include fz(13, 13, 0.03);

  color: $gray-3;
}

.p-chat-list__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

/* チャットでの禁止事項 */

.p-chat-attention-modal__heading {
  @include flex(center, center, nowrap);
  column-gap: 8px;
  margin-bottom: 16px;

  i {
    display: block;
    background-image: url("../images/icon-attention.svg");
    width: 18px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  span {
    @include zenmaru;
    @include fz(18, 24, 0.05);
  }
}

.p-chat-attention-modal__content {
  @include fz(14, 24, 0.05);
}

.p-chat-attention-modal__list {
  margin: 16px 0;
}

.p-chat-attention-modal__button {
  @include max-width(320px);

  margin-top: 24px;

  a {
    height: 64px;
  }
}

.p-chat-attention-modal__textarea {
  width: 100%;
  padding: 8px;
}

/* 個別 */

.p-chat__inner {
  @include padding;

  margin-bottom: 16px;
}

.p-chat-heading {
  @include padding;

  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 40px 1fr 32px;
  column-gap: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $gray-5;
}

.p-chat-heading__user {
  @include zenmaru;
}

.p-chat-heading__report {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  cursor: pointer;

  span {
    @include fz(12, 12, 0.03);

    color: $gray-3;
  }
}

.p-chat-section {
  + .p-chat-section {
    margin-top: 40px;
  }
}

.p-chat-section__time {
  @include fz(14, 14, 0.03);

  margin-bottom: 24px;
  text-align: center;
}

.p-chat-section__content {
  + .p-chat-section__content {
    margin-top: 8px;
  }
}

.p-chat-section__text {
  @include fz(16, 24, 0.03);

  padding: 16px;
  border-radius: 8px;

  + .p-chat-section__text {
    margin-top: 8px;
  }
}

.p-chat-reception {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 16px;
}

.p-chat-reception__text {
  @include bg($gray-6);

  margin-right: math.div(32, 478) * 100%;
}

.p-chat-send__text {
  @include bg($gray-2);

  color: $white;
  margin-left: math.div(32, 478) * 100%;
}

.p-chat-bottom {
  @include bg($white);

  margin-bottom: 24px;

  form {
    width: 100%;
  }
}

.p-chat-bottom__form {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 8px;
  background: $white;
  border-top: 1px solid $gray-5;
}

.p-chat-bottom__msg {
  width: 100%;
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background: $gray-6;
  outline: none;
}

.p-chat-bottom__buttons {
  @include flex(space-between, center, nowrap);
}

.p-chat-bottom__image {
  border-right: 1px solid $gray-5;
  margin-right: 16px;
  padding-right: 16px;
}
