@use "sass:math";
@use "../shitaji" as *;

.p-mypage {
  padding-top: 40px;
}

.p-mypage__heading {
  grid-template-columns: 48px 1fr 40px;
}

/* 見学 */

.p-mypage-yellow {
  @include padding;
}

.p-mypage-seiyaku {
  @include padding;

  margin-bottom: 40px;

  a {
    column-gap: 8px;
    padding: 16px;
  }

  i {
    display: block;
    background-image: url("../images/icon-present.svg");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* メニュー */

.p-mypage-nav__heading {
  @include zenmaru;

  padding-left: 16px;
  margin-bottom: 16px;
}

.p-mypage-nav__list {
  li {
    border-bottom: 1px solid $gray-5;

    &:first-child {
      border-top: 1px solid $gray-5;
    }
  }
  a {
    @include zenkaku(700);
    @include flex(space-between, center, nowrap);

    color: $black;
    padding: 16px;
  }

  i {
    display: block;
    background-image: url("../images/icon-arrow-r.svg");
    width: 20px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.p-mypage-nav__section {
  + .p-mypage-nav__section {
    margin-top: 40px;
  }
}
