@use "sass:math";
@use "../shitaji" as *;

.p-request {
  padding: 0 16px;
}

.p-request__progress {
  margin-bottom: 40px;

  progress {
    width: 100%;
  }
}

.p-request__progress-caption {
  @include fz(14, 14, 0.03);

  text-align: right;
  color: $gray-3;
}

.p-request__main {
  margin-bottom: 64px;
}

.p-request__title {
  @include zenkaku(700);

  margin-bottom: 16px;
}

.p-request__main-heading {
  @include zenkaku(700);

  margin-top: 16px;
}

.p-request__checkbox {
  li {
    + li {
      margin-top: 8px;
    }
  }
}

.p-request__button {
  @include flex(center, center, nowrap);

  column-gap: 32px;
}

.p-request__next {
  width: 100%;
  @media (--lg) {
    max-width: 240px;
  }

  @media (--md) {
    max-width: 180px;
  }

  a {
    height: 64px;
    width: 100%;
  }
}

.p-request__back {
  a {
    @include zenkaku(700);

    color: $black;
  }
}

.p-request__note {
  @include fz(12, 20, 0.03);

  margin-top: 32px;
}

.p-request__section {
  + .p-request__section {
    margin-top: 40px;
  }
}

.p-request__section-title {
  @include zenkaku(700);
}

.p-request__certification {
  margin-bottom: 40px;
}

.p-request__certification-heading {
  @include zenkaku(700);
}

.p-request__textarea {
  margin-top: 40px;
}

.p-request__textarea-heading {
  margin: 16px 0;
}

.p-request__textarea-body {
  @include fz(13, 18, 0.03);
}

.p-request__textarea-check {
  @include fz(16, 24, 0.05);
  @include zenkaku(700);

  margin-top: 16px;
}

.noUi-connect {
  background: $yellow;
}

/* リクエスト詳細 */

.p-request-detail__inner {
  margin-bottom: 40px;
}

.p-request-detail__heading {
  margin-bottom: 24px;

  span {
    @include zenkaku(700);
  }
}

.p-request-detail {
  @include padding;
}

.p-request-detail__item {
  @include fz(14, 24, 0.03);

  display: grid;
  grid-template-columns: 140px 1fr;
}

.p-request-detail__item-heading {
  @include zenkaku(700);
}

.p-request-detail__entry {
  a {
    padding: 16px;
  }
}

.p-request-detail__textlink {
  text-align: center;
  margin-top: 24px;
}
