<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'ヒント'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <%- include("../_header"); %>
      <div class="p-hints">
        <div>
          <div class="a-heading--type1 p-hints__heading">
            <div class="a-heading__en">Hints</div>
          </div>

          <div class="m-block-metro">
            <img class="m-block-metro__image" src="../assets/images/incorrect.svg" alt="" />
            <div class="m-block-metro__text">正しくありません。</div>
          </div>

          <div class="a-button--type2 p-hints__button">
            <a href="index.html"><i></i>もどる</a>
          </div>
        </div>
      </div>
      <footer class="o-footer"><%- include("../_footer"); %></footer>
    </div>
  </body>
</html>
