<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'ヒント'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <%- include("../_header"); %>
      <div class="p-hints">
        <div>
          <div class="a-heading--type1 p-hints__heading">
            <div class="a-heading__en">HINTS</div>
          </div>

          <div class="m-block-metro">
            <img class="m-block-metro__image" src="../assets/images/icon-metro-bl.svg" alt="" />
            <div class="m-block-metro__text">「地下謎への招待状」<br />ヒントページじゃ。<br />どうしてもわからないときに<br />見るとよいぞ。</div>
          </div>

          <div class="m-form--type1">
            <input class="m-form__input" id="input-hints" name="hints" placeholder="パスワードを入力" type="text" />
            <div class="a-button--type2 m-form__button">
              <button type="button" id="button-hints"><i></i>ヒントを見る</button>
            </div>
          </div>
        </div>
      </div>
      <footer class="o-footer"><%- include("../_footer"); %></footer>
    </div>
  </body>
</html>
