<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: '段差なしコース'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <%- include("../_header"); %>
      <div class="p-dansanashi">
        <div>
          <section class="p-dansanashi-section">
            <div class="p-dansanashi__heading">
              <span>
                <img src="../assets/images/dansanashi/h-intro.svg" alt="段差なしコース" />
              </span>
            </div>
            <div class="p-dansanashi__illust">
              <img src="../assets/images/dansanashi/img-intro.svg" alt="段差なしコースイラスト" />
            </div>
          </section>

          <!-- 第2章 -->
          <section class="p-dansanashi-section">
            <div class="p-dansanashi-section__heading">
              <div class="p-dansanashi-section__title-02">
                <span>
                  <img class="" src="../assets/images/hints/h-02.svg" alt="2nd Mission" />
                </span>
              </div>
            </div>
            <ul class="p-dansanashi__list">
              <li>
                <input id="dansanashi-02-01" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-01"><i></i>雑司ヶ谷駅</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    ホームに到着したら、和光市方面の一番端にあるエレベーターに乗り、改札階に上がれ。<br />
                    エレベーターを降りたら右に進み、突き当たりを左に曲がり、改札を出て真っ直ぐ進め。<br />
                    階段の手前を左に曲がり、奥にあるエレベーターに乗り地上へ上がれ。<br />
                    エレベーターを降りたら、歩道に出て左に曲がり、真っ直ぐ進め。<br />
                    右に踏切が現れたら渡って真っ直ぐ進み、虎の見つめるアーチをくぐって真っ直ぐ進め。<br />
                    しばらく風情を味わいながら真っ直ぐ進み、突き当たりを左に曲がれ。<br />
                    正面にお寺が現れたら、右前にある道を道なりに進め。<br />
                    3つに分かれた道が現れたら、すぐ左に寺への入り口がある。<br />
                    寺の中に入って、ガイドブックの8pを開き、謎を解け。
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-02" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-02"><i></i>田原町駅 1番線に着いた方</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    ホームに到着したら、1号車付近にある改札を出て、正面に現れるエレベーターに乗り、地上へ上がれ。<br />
                    エレベーターを降りたら歩道まで進み、左に曲がって真っ直ぐ進め。<br />
                    巨人のコックがいる交差点が現れたら、コックがいるビルの目の前まで向かえ。<br />
                    そのビルと向き合って、右にある屋根付きの通りまで進め。<br />
                    屋根付きの通りに着いたら、ガイドブックの12pを開いてSTEP1の謎を解け。
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-03" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-03"><i></i>田原町駅 2番線に着いた方</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    ホームに到着したら、3号車付近にある改札を出て、左にあるエレベーターに乗り、地上へ上がれ。<br />
                    エレベーターを降りたら、歩道まで進み、右に曲がって真っ直ぐ進め。<br />
                    巨人のコックがいる交差点が現れたら、コックがいるビルの目の前まで向かえ。<br />
                    そのビルと向き合って、右にある屋根付きの通りまで進め。<br />
                    屋根付きの通りに着いたら、ガイドブックの12pを開いてSTEP1の謎を解け。
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-04" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-04"><i></i>田原町駅 STEP2</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    「三つ星」のお店と向き合って左に進み、横断歩道を渡って右に曲がれ。<br />
                    信号が現れたら、渡らずに左に曲がれ。<br />
                    左側に現れる公園の中でSTEP2の謎を解け。
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-05" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-05"><i></i>門前仲町駅 1番線に着いた方</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    ホームに到着したら、1号車付近にあるエレベーターに乗り、道なりに進んで改札階へ上がれ。<br />
                    改札を出たら、真っ直ぐ進んで突き当たりを左に曲がり、エレベーターに乗って地上まで上がれ。<br />
                    エレベーターを降りたら、正面にある横断歩道を渡って右に曲がれ。<br />
                    4つ目の横断歩道に出会うまで、しばらく真っ直ぐ進め。<br />
                    4つ目の横断歩道に出会ったら左に入り、ガイドブックの16pを開いてSTEP1から謎を解け。<br />
                    ※車椅子、ベビーカーの方はチームAがおすすめです。<br />
                    ※STEP1の最後に公園で合流する指示がありますが、公園の入り口で合流しても問題ありません。
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-06" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-06"><i></i>門前仲町駅 2番線に着いた方</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    ホームに到着したら、西船橋方面の一番端にあるエレベーターに乗り改札階に上がり、道なりに進んで現れた改札を出ろ。<br />
                    改札を出たら右に曲がって進め。<br />
                    突き当たりを左に曲がり、階段の奥にあるエレベーターに乗って地上階まで上がれ。<br />
                    エレベーターを降りたら、正面にある横断歩道を渡って右に曲がれ。<br />
                    4つ目の横断歩道に出会うまで、しばらく真っ直ぐ進め。<br />
                    4つ目の横断歩道に出会ったら左に入り、ガイドブックの16pを開いてSTEP1から謎を解け。<br />
                    ※車椅子、ベビーカーの方はチームAがおすすめです。<br />
                    ※STEP1の最後に公園で合流する指示がありますが、公園の入り口で合流しても問題ありません。
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-07" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-07"><i></i>二重橋前駅</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    ホームに到着したら、10号車付近にあるエレベーターに乗り、改札階へ上がれ。<br />
                    改札を出たら右に曲がって真っ直ぐ進め。<br />
                    左に出口3が現れたらそのエレベーターに乗り、地上階まで上がれ。<br />
                    エレベーターを降りたら、外に出て右に曲がれ。歩道に出たら左に曲がって真っ直ぐ進め。<br />
                    横断歩道が現れたら、渡らず左に曲がって進め。<br />
                    正面に横断歩道が現れたら渡り、左上に現れる時計の下をくぐって進め。<br />
                    レンガ造りの建築物を見つけたら、ガイドブックの20pを開いてSTEP1から謎を解け。
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-08" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-08"><i></i>麻布十番駅</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    ホームに到着したら、5号車付近にあるエレベーターに乗り、改札階へ上がれ。<br />
                    エレベーターを降りたら目の前のエスカレーターと階段の奥にある改札を出ろ。<br />
                    改札を出たら左に曲がって進め。<br />
                    突き当たりを右に曲がり、その奥にあるエレベーターに乗って地上へ上がれ。<br />
                    エレベーターを降りたら、歩道に出て左に曲がり、しばらく真っ直ぐ進め。<br />
                    横断歩道を2つ渡り、3つ目の横断歩道は渡らず左に曲がれ。<br />
                    曲がったら、ガイドブックの24pを開いて、下の画像を元に一部の文章を書き換えて謎を解け。
                  </p>
                  <p>
                    <img src="../assets/images/dansanashi/dansanashi-02-08.png" />
                  </p>
                </div>
              </li>
              <li>
                <input id="dansanashi-02-09" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-02-09"><i></i>御茶ノ水駅</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>こちらの駅では段差のないコースはご案内できません。代わりに、現地で見つかる情報をまとめております。下の情報に従って謎を解いてください。</p>
                  <hr />
                  <p>下の写真に書かれた漢字を、28、29pの盤面から探して丸をつけろ。丸をつけたら、28pの左下にあるルールに従って謎を解け。</p>
                  <p>
                    <img src="../assets/images/dansanashi/dansanashi-02-09.png" />
                  </p>
                </div>
              </li>
            </ul>
          </section>
          <!-- /第2章 -->

          <!-- 第3章 -->
          <section class="p-dansanashi-section">
            <div class="p-dansanashi-section__heading">
              <div class="p-dansanashi-section__title-03">
                <span>
                  <img class="" src="../assets/images/hints/h-03.svg" alt="2nd Mission" />
                </span>
              </div>
            </div>

            <article>
              <ul class="p-dansanashi__list">
                <li>
                  <input id="dansanashi-03-01" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                  <label class="o-accordion__label p-dansanashi__label" for="dansanashi-03-01"><i></i>36pの駅</label>
                  <div class="o-accordion__content p-dansanashi__content">
                    <p>
                      1番線ホームに到着したら、2号車付近にあるエレベーターに乗り、改札階に上がれ。<br />
                      エレベーターを降りたら改札を出て真っ直ぐ進み、左に現れるスロープを降り突き当たりを右に曲がれ。<br />
                      広い空間に出たら券売機を左に見ながら真っ直ぐ進み、奥にあるエレベーターで地上に上がれ。<br />
                      エレベーターを降りたら、歩道に出て左に進め。<br />
                      正面に横断歩道が現れたら渡って左に曲がり、しばらく真っ直ぐ進め。<br />
                      横断歩道を2つ渡ったら、正面に地下鉄の出口が現れる。<br />
                      それが出口7だ。<br />
                      出口7の横まで来たら、ガイドブックの38pを開いて謎を解け。
                    </p>
                    <p>
                      ※ <img class="o-accordion__number" src="../assets/images/dansanashi/no1.svg" /> 〜 <img class="o-accordion__number" src="../assets/images/dansanashi/no5.svg" /> のうち、<img
                        class="o-accordion__number"
                        src="../assets/images/dansanashi/no4.svg"
                      />
                      だけ階段を通る必要があるため、下の写真でご確認ください。<img class="o-accordion__number" src="../assets/images/dansanashi/no5.svg" />
                      には、公園を入ってすぐ右に曲がり、道なりに進んで向かってください。
                    </p>
                    <p>
                      <img src="../assets/images/dansanashi/dansanashi-03-01.png" />
                    </p>
                  </div>
                </li>
              </ul>
            </article>

            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">3rd Mission後の移動</div>
              <ul class="p-dansanashi__list">
                <li>
                  <input id="dansanashi-03-02" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                  <label class="o-accordion__label p-dansanashi__label" for="dansanashi-03-02"><i></i>車椅子の方</label>
                  <div class="o-accordion__content p-dansanashi__content">
                    <ul>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">はじめに</div>
                        <p>
                          この謎は「電車に乗りながら謎を解くことで降りる駅がわかる」ものです。<br />
                          そのため、謎を解き終えるまで移動先がわかりません。<br />
                          改札入場時に駅係員への乗降連絡が必要な場合もございますので、ここでは降りる駅を先にお伝えいたします。
                        </p>
                        <p>
                          まず、六本木駅2番線から、銀座駅へと移動し、銀座線1番線に乗り換えます。<br />
                          そして、銀座駅から新橋駅へと移動します。<br />
                          新橋駅で4th Missionの謎解きが始まります。
                        </p>
                        <p>
                          その上で、六本木駅から新橋駅までの構内ルートについて、以下にまとめております。<br />
                          降りる駅はわかってしまっておりますが、乗車中にいま手に入れた紙の謎解きをお楽しみください。
                        </p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">六本木駅から銀座駅に到着するまで</div>
                        <p>
                          「六本木駅」の段差なしコースで使用したエレベーターでB1(改札階)まで戻れ。<br />
                          エレベーターを降りたら、道なりに進め。<br />
                          広い空間に出たらすぐ左に曲がり、左に現れる改札を通ってエレベーターでホーム階に降りろ。<br />
                          2番線の電車に乗り、銀座駅で降りろ。
                        </p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">日比谷線銀座駅に到着してから、銀座線に乗り換えるまで</div>
                        <p>
                          4号車付近にあるエレベーターに乗り、B1(改札階)へ上がれ。<br />
                          エレベーターを降りたら、左の改札から出て、左に曲がってしばらく真っ直ぐ進め。<br />
                          スロープが現れたら、そのスロープを進み、左に現れる改札に入れ。<br />
                          改札に入ったら右に曲がって進め。<br />
                          左に階段が現れたらその奥を左に曲がれ。<br />
                          道なりに進んでエレベーターに乗り、ホーム階に降りろ。<br />
                          エレベーターを降りたら1番線の電車に乗り、新橋駅で降りろ。
                        </p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">新橋駅に到着してから、目的地まで</div>
                        <p>
                          5号車付近にあるエレベーターに乗り、改札階へ上がれ。<br />
                          エレベーターを降りたら、目の前にある自動販売機を左に見ながら進み、左に現れる改札を出ろ。<br />
                          改札を出たら左に曲がって、すぐ右に現れるエレベーターで地上に上がれ。<br />
                          エレベーターを降りたら歩道に出て右に曲がり、信号を2つ渡るまで真っ直ぐ進め。<br />
                          越えたらさらに真っ直ぐ進み、<img class="o-accordion__i" src="../assets/images/dansanashi/icon-i.png" />の前にある3つに分かれた道のうち、真ん中の道を進め。<br />
                          進むとすぐある広場に着いたら、ガイドブックの43pの袋とじを開いて46pの謎を解け。
                        </p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <input id="dansanashi-03-03" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                  <label class="o-accordion__label p-dansanashi__label" for="dansanashi-03-03"><i></i>ベビーカーの方</label>
                  <div class="o-accordion__content p-dansanashi__content">
                    <p>
                      「六本木駅」の段差なしコースで使用したエレベーターでB1(改札階)まで戻れ。<br />
                      エレベーターを降りたら、道なりに進め。<br />
                      広い空間に出たら、すぐ左に曲がり、左に現れる改札を通ってエレベーターでホーム階に降りろ。<br />
                      電車が来たら乗れ。
                    </p>
                    <p>
                      そのまま、いま手に入れた紙に書かれた車掌さんの指示に従って謎を解け。<br />
                      謎を解く中で電車を降りたら、下の指示に従って進め。
                    </p>
                    <ul>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">一度電車を降りてから、次の電車に乗り換えるまで</div>
                        <p>
                          4号車付近にあるエレベーターに乗り、B1(改札階)へ上がれ。<br />
                          エレベーターを降りたら左の改札から出て、左に曲がってしばらく真っ直ぐ進め。<br />
                          スロープが現れたらそのスロープを進み、左に現れる改札に入れ。<br />
                          改札に入ったら右に曲がって進め。<br />
                          左に階段が現れたらその奥を左に曲がれ。<br />
                          道なりに進んでエレベーターに乗り、ホーム階に降りろ。<br />
                          エレベーターを降りたら、これまで解いていた謎解きの指示に従え。
                        </p>
                      </li>
                      <li>
                        <div class="m-block-support__heading">一度電車を乗り換えたあと、また電車を降りたら</div>
                        <p>
                          5号車付近にあるエレベーターに乗り、改札階へ上がれ。<br />
                          エレベーターを降りたら、目の前にある自動販売機を左に見ながら進み、左に現れる改札を出ろ。<br />
                          改札を出たら左に曲がって、すぐ右に現れるエレベーターで地上階に上がれ。<br />
                          エレベーターを降りたら歩道に出て右に曲がり、信号を2つ渡るまで真っ直ぐ進め。<br />
                          越えたらさらに真っ直ぐ進み、<img class="o-accordion__i" src="../assets/images/dansanashi/icon-i.png" />の前にある3つに分かれた道のうち、真ん中の道を進め。<br />
                          進むとすぐある広場に着いたら、ガイドブックの43pの袋とじを開いて46pの謎を解け。
                        </p>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </article>
          </section>
          <!-- /第3章 -->

          <!-- 第4章 -->
          <section class="p-dansanashi-section">
            <div class="p-dansanashi-section__heading">
              <div class="p-dansanashi-section__title-04">
                <span>
                  <img class="" src="../assets/images/hints/h-04.svg" alt="2nd Mission" />
                </span>
              </div>
            </div>
            <ul class="p-dansanashi__list">
              <li>
                <input id="dansanashi-04-01" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                <label class="o-accordion__label p-dansanashi__label" for="dansanashi-04-01"><i></i>44pの駅</label>
                <div class="o-accordion__content p-dansanashi__content">
                  <p>
                    5号車付近にあるエレベーターに乗り、改札階へ上がれ。<br />
                    エレベーターを降りたら、目の前にある自動販売機を左に見ながら進み、左に現れる改札を出ろ。<br />
                    改札を出たら左に曲がって、すぐ右に現れるエレベーターで地上階に上がれ。<br />
                    エレベーターを降りたら歩道に出て右に曲がり、信号を2つ渡るまで真っ直ぐ進め。<br />
                    越えたらさらに真っ直ぐ進み、<img class="o-accordion__i" src="../assets/images/dansanashi/icon-i.png" />の前にある3つに分かれた道のうち、真ん中の道を進め。<br />
                    進むとすぐある広場に着いたら、ガイドブックの43pの袋とじを開いて46pの謎を解け。
                  </p>
                </div>
              </li>
            </ul>
            <article class="p-dansanashi-section__article">
              <div class="p-dansanashi-section__article-heading">4th Mission後の移動</div>
              <ul class="p-dansanashi__list">
                <li>
                  <input id="dansanashi-04-02" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                  <label class="o-accordion__label p-dansanashi__label" for="dansanashi-04-02"><i></i>車椅子の方</label>
                  <div class="o-accordion__content p-dansanashi__content">
                    <ul>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">はじめに</div>
                        <p>
                          この謎は「電車に乗りながら謎を解くことで降りる駅がわかる」ものです。<br />
                          そのため、謎を解き終えるまで移動先がわかりません。<br />
                          改札入場時に駅係員への乗降連絡が必要な場合もございますので、ここでは降りる駅を先にお伝えいたします。
                        </p>
                        <p>
                          まず、新橋駅1番線から、虎ノ門駅へと移動します。<br />
                          その後、虎ノ門駅で5th Missionの謎解きが始まります。
                        </p>
                        <p>
                          その上で、新橋駅から虎ノ門駅までの構内ルートについて、以下にまとめております。<br />
                          降りる駅はわかってしまっておりますが、乗車中に今手にしている紙の謎解きをお楽しみください。
                        </p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">新橋駅に戻って、虎ノ門駅に到着するまで</div>
                        <p>
                          「新橋駅」の段差なしコースで使用したエレベーターで改札階まで戻れ。<br />
                          エレベーターを降りたら左前にある改札に入り少し進み、右に曲がって進め。<br />
                          右に現れるエレベーターに乗ってホーム階に降りろ。<br />
                          降りたら、1番線の電車に乗って虎ノ門駅で降りろ。
                        </p>
                      </li>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">【虎ノ門駅から目的地に到着するまで】</div>
                        <p>
                          （電車を降りたあとも謎は続きますが、エスカレーターが登場するため、ここからは下の指示に従って移動をお願いします）<br />
                          虎ノ門駅で降りたら、出口B3へ向かえ。<br />
                          出口B3についたら自動ドアを通って、すぐ左に現れるエレベーターに乗って2階へ上がれ。<br />
                          エレベーターを降りたら左へ曲がり、すぐある突き当たりを右に曲がって道なりに進め。このとき、自動ドアの中には入らないこと。<br />
                          右側に膝を抱えて座る人間が現れたら、その前に行き、ガイドブックの51pの袋とじを開いて謎を解け。
                        </p>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <input id="dansanashi-04-03" type="checkbox" class="o-accordion__toggle p-dansanashi__toggle" />
                  <label class="o-accordion__label p-dansanashi__label" for="dansanashi-04-03"><i></i>ベビーカーの方</label>
                  <div class="o-accordion__content p-dansanashi__content">
                    <p>
                      「新橋駅」の段差なしコースで使用したエレベーターで改札階まで戻れ。<br />
                      エレベーターを降りたら左前にある改札に入り少し進み、右に曲がって進め。<br />
                      右に現れるエレベーターに乗ってホーム階に降りろ。<br />
                      降りたら、電車に乗って続きの謎を解け。
                    </p>
                    <ul>
                      <li class="m-block-support">
                        <div class="m-block-support__heading">謎を解いて電車を降りたら</div>
                        <p>
                          （電車を降りたあとも謎は続きますが、エスカレーターが登場するため、ここからは下の指示に従って移動をお願いします）<br />
                          電車を降りたら、出口B3へ向かえ。<br />
                          出口B3についたら自動ドアを通って、すぐ左に現れるエレベーターに乗って2階へ上がれ。<br />
                          エレベーターを降りたら左へ曲がり、すぐある突き当たりを右に曲がって道なりに進め。このとき、自動ドアの中には入らないこと。<br />
                          右側に膝を抱えて座る人間が現れたら、その前に行き、ガイドブックの51pの袋とじを開いて謎を解け。
                        </p>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </article>
          </section>
          <!-- /第4章 -->
        </div>
      </div>
      <footer class="o-footer"><%- include("../_footer"); %></footer>
    </div>
  </body>
</html>
