<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'アンケート'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <%- include("../_header"); %>
      <div class="p-ank">
        <div class="p-ank__inner">
          <div class="m-block-metro">
            <img class="m-block-metro__image" src="../assets/images/icon-metro-bl.svg" alt="" />
            <div class="m-block-metro__text">
              「地下謎への招待状 2025」はいかがじゃったかな？<br />
              是非アンケートに答えてくれたまえ。<br />
              君のアンケートを読むのを楽しみにしておるぞ。
            </div>
          </div>
          <div class="p-ank__heading">
            <p><span class="pink">※</span>は必須項目です。</p>
          </div>
          <form method="POST" action="https://form.scrapmagazine.com/forms/85d1ef25-a693-4f13-a1cd-f699638ee85c/entries">
            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>最後までクリアできましたか？※</div>
              <ul>
                <li>
                  <label><input type="radio" name="最後までクリアできましたか？" value="はい" class="js-radio-05" required />はい</label>
                </li>
                <li>
                  <label><input type="radio" name="最後までクリアできましたか？" value="いいえ" class="js-radio-05" />いいえ</label>
                </li>
              </ul>
              <p class="p-ank__error" id="js-form-error-01"></p>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>満足度はいかがでしたか？※</div>
              <select type="number" name="満足度" id="js-form-select-03" required>
                <option value="">選択する</option>
                <option value="0">0（不満）</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10（大満足）</option>
              </select>
              <p class="p-ank__error" id="js-form-error-12"></p>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>友人、知人へのオススメ度はいかがでしたか？※</div>
              <select type="recommend" name="オススメ度" id="js-form-select-04" required>
                <option value="">選択する</option>
                <option value="0">0（勧めない）</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10（オススメ！）</option>
              </select>
              <p class="p-ank__error" id="js-form-error-13"></p>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>難易度はいかがでしたか？（５段階で）※</div>
              <select type="number" name="難易度" id="js-form-select-05" required>
                <option value="">選択する</option>
                <option value="簡単すぎる">簡単すぎる</option>
                <option value="簡単">簡単</option>
                <option value="普通">普通</option>
                <option value="難しい">難しい</option>
                <option value="難しすぎる">難しすぎる</option>
              </select>
              <p class="p-ank__error" id="js-form-error-14"></p>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>デザインはどうでしたか？※</div>
              <select type="recommend" name="デザイン" id="js-form-select-06" required>
                <option value="">選択する</option>
                <option value="0">0（不満）</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10（大満足）</option>
              </select>
              <p class="p-ank__error" id="js-form-error-15"></p>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>年齢</div>
              <select type="number" name="年齢" id="js-form-select-01">
                <option value="none">選択する</option>
                <option value="-18">〜18歳</option>
                <option value="19-22">19〜22歳</option>
                <option value="23-30">23歳〜30歳</option>
                <option value="31-40">31歳〜40歳</option>
                <option value="41-50">41歳〜50歳</option>
                <option value="51-">51歳〜</option>
              </select>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>性別</div>
              <ul>
                <li>
                  <label><input type="radio" name="性別" value="男性" class="js-radio-11" />男性</label>
                </li>
                <li>
                  <label><input type="radio" name="性別" value="女性" class="js-radio-11" />女性</label>
                </li>
                <li>
                  <label><input type="radio" name="性別" value="その他" class="js-radio-11" />その他</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>お住まいの都道府県を教えてください</div>
              <select type="number" name="都道府県" id="js-form-select-02">
                <option value="none" selected>都道府県</option>
                <option value="北海道">北海道</option>
                <option value="青森県">青森県</option>
                <option value="岩手県">岩手県</option>
                <option value="宮城県">宮城県</option>
                <option value="秋田県">秋田県</option>
                <option value="山形県">山形県</option>
                <option value="福島県">福島県</option>
                <option value="茨城県">茨城県</option>
                <option value="栃木県">栃木県</option>
                <option value="群馬県">群馬県</option>
                <option value="埼玉県">埼玉県</option>
                <option value="千葉県">千葉県</option>
                <option value="東京都">東京都</option>
                <option value="神奈川県">神奈川県</option>
                <option value="新潟県">新潟県</option>
                <option value="富山県">富山県</option>
                <option value="石川県">石川県</option>
                <option value="福井県">福井県</option>
                <option value="山梨県">山梨県</option>
                <option value="長野県">長野県</option>
                <option value="岐阜県">岐阜県</option>
                <option value="静岡県">静岡県</option>
                <option value="愛知県">愛知県</option>
                <option value="三重県">三重県</option>
                <option value="滋賀県">滋賀県</option>
                <option value="京都府">京都府</option>
                <option value="大阪府">大阪府</option>
                <option value="兵庫県">兵庫県</option>
                <option value="奈良県">奈良県</option>
                <option value="和歌山県">和歌山県</option>
                <option value="鳥取県">鳥取県</option>
                <option value="島根県">島根県</option>
                <option value="岡山県">岡山県</option>
                <option value="広島県">広島県</option>
                <option value="山口県">山口県</option>
                <option value="徳島県">徳島県</option>
                <option value="香川県">香川県</option>
                <option value="愛媛県">愛媛県</option>
                <option value="高知県">高知県</option>
                <option value="福岡県">福岡県</option>
                <option value="佐賀県">佐賀県</option>
                <option value="長崎県">長崎県</option>
                <option value="熊本県">熊本県</option>
                <option value="大分県">大分県</option>
                <option value="宮崎県">宮崎県</option>
                <option value="鹿児島県">鹿児島県</option>
                <option value="沖縄県">沖縄県</option>
                <option value="その他">その他</option>
              </select>
              <input type="text" name="都道府県（その他）" style="ime-mode: disabled" placeholder="その他の場合、ご記入ください。" />
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>どこでキットを引き換えましたか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="引き換え" value="東京ミステリーサーカス" class="js-radio-01" />東京ミステリーサーカス</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="リアル脱出ゲーム池袋店" class="js-radio-01" />リアル脱出ゲーム池袋店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="リアル脱出ゲーム CROSSING 渋谷店" class="js-radio-01" />リアル脱出ゲーム CROSSING 渋谷店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="リアル脱出ゲーム吉祥寺店" class="js-radio-01" />リアル脱出ゲーム吉祥寺店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="リアル脱出ゲーム CROSSING 浅草店" class="js-radio-01" />リアル脱出ゲーム CROSSING 浅草店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="リアル脱出ゲーム横浜店" class="js-radio-01" />リアル脱出ゲーム横浜店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="東京メトロ特別ブース (銀座駅構内オアシス広場)" class="js-radio-01" />東京メトロ特別ブース (銀座駅構内オアシス広場)</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="東京メトロ特別ブース (茅場町駅構内旧定期券売り場)" class="js-radio-01" />東京メトロ特別ブース (茅場町駅構内旧定期券売り場)</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="ジュンク堂書店 池袋本店" class="js-radio-01" />ジュンク堂書店 池袋本店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="ジュンク堂書店 エミテラス所沢店" class="js-radio-01" />ジュンク堂書店 エミテラス所沢店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="丸善 お茶の水店" class="js-radio-01" />丸善 お茶の水店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="丸善 メトロ・エム後楽園店" class="js-radio-01" />丸善 メトロ・エム後楽園店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="丸善 丸の内本店" class="js-radio-01" />丸善 丸の内本店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="丸善 日本橋店" class="js-radio-01" />丸善 日本橋店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="丸善 日吉東急アベニュー店" class="js-radio-01" />丸善 日吉東急アベニュー店</label>
                </li>
                <li>
                  <label><input type="radio" name="引き換え" value="丸善 津田沼駅" class="js-radio-01" />丸善 津田沼駅</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>参加日のどれくらい前に予約しましたか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="予約" value="当日" class="js-radio-02" />当日</label>
                </li>
                <li>
                  <label><input type="radio" name="予約" value="前日" class="js-radio-02" />前日</label>
                </li>
                <li>
                  <label><input type="radio" name="予約" value="2〜6日前" class="js-radio-02" />2〜6日前</label>
                </li>
                <li>
                  <label><input type="radio" name="予約" value="1週間〜2週間前" class="js-radio-02" />1週間〜2週間前</label>
                </li>
                <li>
                  <label><input type="radio" name="予約" value="2週間〜3週間前" class="js-radio-02" />2週間〜3週間前</label>
                </li>
                <li>
                  <label><input type="radio" name="予約" value="3週間前〜1ヶ月前" class="js-radio-02" />3週間前〜1ヶ月前</label>
                </li>
                <li>
                  <label><input type="radio" name="予約" value="1ヶ月以上前" class="js-radio-02" />1ヶ月以上前</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>2nd Missionでどの駅を選びましたか？（複数選択可）</div>
              <ul>
                <li>
                  <label><input type="checkbox" name="2nd Missionの駅1" value="雑司ヶ谷駅" class="js-checkbox-01" />雑司ヶ谷駅</label>
                </li>
                <li>
                  <label><input type="checkbox" name="2nd Missionの駅2" value="田原町駅" class="js-checkbox-01" />田原町駅</label>
                </li>
                <li>
                  <label><input type="checkbox" name="2nd Missionの駅3" value="門前仲町駅" class="js-checkbox-01" />門前仲町駅</label>
                </li>
                <li>
                  <label><input type="checkbox" name="2nd Missionの駅4" value="二重橋前駅" class="js-checkbox-01" />二重橋前駅</label>
                </li>
                <li>
                  <label><input type="checkbox" name="2nd Missionの駅5" value="麻布十番駅" class="js-checkbox-01" />麻布十番駅</label>
                </li>
                <li>
                  <label><input type="checkbox" name="2nd Missionの駅6" value="御茶ノ水駅" class="js-checkbox-01" />御茶ノ水駅</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>所要時間</div>
              <ul>
                <li>
                  <label><input type="radio" name="所要時間" value="3時間未満" class="js-radio-03" />3時間未満</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="3時間～4時間" class="js-radio-03" />3時間～4時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="4時間～5時間" class="js-radio-03" />4時間～5時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="5時間～6時間" class="js-radio-03" />5時間～6時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="6時間～7時間" class="js-radio-03" />6時間～7時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="7時間～8時間" class="js-radio-03" />7時間～8時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="8時間～9時間" class="js-radio-03" />8時間～9時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="9時間～10時間" class="js-radio-03" />9時間～10時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="10時間～11時間" class="js-radio-03" />10時間～11時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="11時間～12時間" class="js-radio-03" />11時間～12時間</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="12時間～1日" class="js-radio-03" />12時間～1日</label>
                </li>
                <li>
                  <label><input type="radio" name="所要時間" value="それ以上" class="js-radio-03" />それ以上</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>本日は何人でお越しになりましたか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="参加人数" value="1人" class="js-radio-04" />1人</label>
                </li>
                <li>
                  <label><input type="radio" name="参加人数" value="2人" class="js-radio-04" />2人</label>
                </li>
                <li>
                  <label><input type="radio" name="参加人数" value="3人" class="js-radio-04" />3人</label>
                </li>
                <li>
                  <label><input type="radio" name="参加人数" value="4人" class="js-radio-04" />4人</label>
                </li>
                <li>
                  <label><input type="radio" name="参加人数" value="5人" class="js-radio-04" />5人</label>
                </li>
                <li>
                  <label><input type="radio" name="参加人数" value="6人" class="js-radio-04" />6人</label>
                </li>
                <li>
                  <label><input type="radio" name="参加人数" value="それ以上" class="js-radio-04" />それ以上</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>どなたと参加しましたか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="どなたと" value="1人" class="js-radio-05" />1人</label>
                </li>
                <li>
                  <label><input type="radio" name="どなたと" value="友人" class="js-radio-05" />友人</label>
                </li>
                <li>
                  <label><input type="radio" name="どなたと" value="恋人" class="js-radio-05" />恋人</label>
                </li>
                <li>
                  <label><input type="radio" name="どなたと" value="家族" class="js-radio-05" />家族</label>
                </li>
                <li>
                  <label><input type="radio" name="どなたと" value="仕事関係" class="js-radio-05" />仕事関係</label>
                </li>
                <li>
                  <label><input type="radio" name="どなたと" value="その他" class="js-radio-05" />その他</label>
                </li>
                <input type="text" name="どなたと（その他）" style="ime-mode: disabled" placeholder="その他の場合、ご記入ください。" class="js-radio-05" />
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>このイベントを最初に何で知りましたか？<br />※1つだけお選び下さい</div>
              <ul class="p-ank__block">
                <p>友人・知人から</p>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="友人、知人のSNS投稿から" class="js-radio-06" />友人、知人のSNS投稿から</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="友人、知人から直接聞いて" class="js-radio-06" />友人、知人から直接聞いて</label>
                </li>
                <p>SCRAP公式</p>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="SCRAPイベントラインナップ" class="js-radio-06" />SCRAPイベントラインナップ</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="リアル脱出ゲームの会場" class="js-radio-06" />リアル脱出ゲームの会場</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="SCRAPメールマガジン" class="js-radio-06" />SCRAPメールマガジン</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="リアル脱出ゲーム公式サイト" class="js-radio-06" />リアル脱出ゲーム公式サイト</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="SCRAP公式X（旧Twitter）" class="js-radio-06" />SCRAP公式X（旧Twitter）</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="SCRAP公式Instagram" class="js-radio-06" />SCRAP公式Instagram</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="SCRAP公式Facebook" class="js-radio-06" />SCRAP公式Facebook</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="SCRAP公式LINE" class="js-radio-06" />SCRAP公式LINE</label>
                </li>
                <p>その他の媒体</p>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="東京メトロポスター/車内広告/フライヤー" class="js-radio-06" />東京メトロポスター/車内広告/フライヤー</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="東京メトロフリーペーパー" class="js-radio-06" />東京メトロフリーペーパー</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="「旅先案内人」からの発信" class="js-radio-06" />「旅先案内人」からの発信</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="Web広告" class="js-radio-06" />Web広告</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="X" class="js-radio-06" />X</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="Instagram" class="js-radio-06" />Instagram</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="YouTube" class="js-radio-06" />YouTube</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="LINE" class="js-radio-06" />LINE</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="TikTok" class="js-radio-06" />TikTok</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="実際に遊んでいる人を見て" class="js-radio-06" />実際に遊んでいる人を見て</label>
                </li>
                <li>
                  <label><input type="radio" name="何で知りましたか" value="その他" class="js-radio-06" />その他</label>
                </li>
                <input type="text" name="何で知りましたか（その他）" style="ime-mode: disabled" placeholder="その他の場合、ご記入ください。" class="js-radio-06" />
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>普段、一番よく情報を入手するSNSはどれですか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="SNS" value="X（旧Twitter）" class="js-radio-07" />X（旧Twitter）</label>
                </li>
                <li>
                  <label><input type="radio" name="SNS" value="Instagram" class="js-radio-07" />Instagram</label>
                </li>
                <li>
                  <label><input type="radio" name="SNS" value="Facebook" class="js-radio-07" />Facebook</label>
                </li>
                <li>
                  <label><input type="radio" name="SNS" value="LINE" class="js-radio-07" />LINE</label>
                </li>
                <li>
                  <label><input type="radio" name="SNS" value="TikTok" class="js-radio-07" />TikTok</label>
                </li>
                <li>
                  <label><input type="radio" name="SNS" value="その他" class="js-radio-08" />その他</label>
                </li>
                <input type="text" name="SNS（その他）" style="ime-mode: disabled" placeholder="その他の場合、ご記入ください。" class="js-radio-08" />
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>公演に参加した決め手は？（複数選択可）</div>
              <ul>
                <li>
                  <label><input type="checkbox" name="参加の決め手1" value="「地下謎への招待状」シリーズが好きだから" class="js-radio-08" />「地下謎への招待状」シリーズが好きだから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手2" value="東京メトロが好きだから" class="js-radio-08" />東京メトロが好きだから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手3" value="好きな旅先案内人がいたから" class="js-radio-08" />好きな旅先案内人がいたから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手4" value="謎解きが好きだから" class="js-radio-08" />謎解きが好きだから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手5" value="家族や友人に誘われて" class="js-radio-08" />家族や友人に誘われて</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手6" value="街歩きが好きだから" class="js-radio-08" />街歩きが好きだから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手7" value="1日楽しめそうなイベントだから" class="js-radio-08" />1日楽しめそうなイベントだから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手8" value="以前やってみて楽しかったから" class="js-radio-08" />以前やってみて楽しかったから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手9" value="SNSの投稿を見て興味を持ったから" class="js-radio-08" />SNSの投稿を見て興味を持ったから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手10" value="面白いと噂を聞いたから" class="js-radio-08" />面白いと噂を聞いたから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手11" value="段差なしコースがあるから" class="js-radio-08" />段差なしコースがあるから</label>
                </li>
                <li>
                  <label><input type="checkbox" name="参加の決め手12" value="その他" class="js-radio-08" />その他</label>
                </li>
                <input type="text" name="参加の決め手（その他）" style="ime-mode: disabled" placeholder="その他の場合、ご記入ください。" class="js-radio-08" />
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>『好きな旅先案内人がいたから』を選択した場合は、旅先案内人の方を選択ください。</div>
              <ul>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="菊川怜さん" class="js-radio-07" />菊川怜さん</label>
                </li>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="吉川正洋(ダーリンハニー)さん" class="js-radio-07" />吉川正洋(ダーリンハニー)さん</label>
                </li>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="リュウジさん" class="js-radio-07" />リュウジさん</label>
                </li>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="ヨビノリたくみさん" class="js-radio-07" />ヨビノリたくみさん</label>
                </li>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="けんたさん" class="js-radio-07" />けんたさん</label>
                </li>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="東京カフェちゃんねるさん" class="js-radio-07" />東京カフェちゃんねるさん</label>
                </li>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="土橋真さん" class="js-radio-07" />土橋真さん</label>
                </li>
                <li>
                  <label><input type="radio" name="好きな旅先案内人" value="とに〜さん" class="js-radio-07" />とに〜さん</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>「地下謎への招待状」以外のリアル脱出ゲームには参加したことがありますか？</div>
              <select type="number" name="「地下謎への招待状」以外" id="js-form-select-07">
                <option value="none">選択する</option>
                <option value="ない">ない</option>
                <option value="1回">1回</option>
                <option value="2回">2回</option>
                <option value="3回">3回</option>
                <option value="4回">4回</option>
                <option value="それ以上">それ以上</option>
              </select>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>リアル脱出ゲームの参加頻度は？</div>
              <ul>
                <li>
                  <label class="st"><input type="radio" name="参加頻度" value="初めて" class="js-checkbox-02" />初めて</label>
                </li>
                <li>
                  <label class="st"><input type="radio" name="参加頻度" value="1ヶ月に1回以上" class="js-checkbox-02" />1ヶ月に1回以上</label>
                </li>
                <li>
                  <label class="st"><input type="radio" name="参加頻度" value="2～3ヶ月に1回" class="js-checkbox-02" />2～3ヶ月に1回</label>
                </li>
                <li>
                  <label class="st"><input type="radio" name="参加頻度" value="半年に1回" class="js-checkbox-02" />半年に1回</label>
                </li>
                <li>
                  <label class="st"><input type="radio" name="参加頻度" value="1年に1回" class="js-checkbox-02" />1年に1回</label>
                </li>
                <li>
                  <label class="st"><input type="radio" name="参加頻度" value="数年に1回" class="js-checkbox-02" />数年に1回</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>「地下謎への招待状」シリーズには何回目の参加ですか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="初めて" class="js-radio-09" />初めて</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="2回目" class="js-radio-09" />2回目</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="3回目" class="js-radio-09" />3回目</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="4回目" class="js-radio-09" />4回目</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="5回目" class="js-radio-09" />5回目</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="6回目" class="js-radio-09" />6回目</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="7回目" class="js-radio-09" />7回目</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="8回目" class="js-radio-09" />8回目</label>
                </li>
                <li>
                  <label><input type="radio" name="何回目の地下謎" value="9回目" class="js-radio-09" />9回目</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>段差なしコースを使用しましたか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="段差なしコースを使用しましたか" value="はい" class="js-radio-10" />はい</label>
                </li>
                <li>
                  <label><input type="radio" name="段差なしコースを使用しましたか" value="いいえ" class="js-radio-10" />いいえ</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>東京メトロを普段利用されますか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="東京メトロ利用" value="ほぼ毎日利用する" class="js-radio-11" />ほぼ毎日利用する</label>
                </li>
                <li>
                  <label><input type="radio" name="東京メトロ利用" value="たまに利用する" class="js-radio-11" />たまに利用する</label>
                </li>
                <li>
                  <label><input type="radio" name="東京メトロ利用" value="滅多に利用しない" class="js-radio-11" />滅多に利用しない</label>
                </li>
                <li>
                  <label><input type="radio" name="東京メトロ利用" value="初めて利用した" class="js-radio-11" />初めて利用した</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>少年探偵SCRAP団員ですか？</div>
              <ul>
                <li>
                  <label><input type="radio" name="少年探偵SCRAP団員ですか" value="はい" class="js-radio-10" />はい</label>
                </li>
                <li>
                  <label><input type="radio" name="少年探偵SCRAP団員ですか" value="いいえ" class="js-radio-10" />いいえ</label>
                </li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title"><span></span>このゲームに参加して、東京の街や、東京メトロのイメージはどのように変わりましたか？（複数選択可）</div>
              <ul>
                <li>
                  <label class="st"
                    ><input
                      type="checkbox"
                      name="東京・メトロのイメージ1"
                      value="普段行かない街や駅を知ることができ、理解が深まった"
                      class="js-checkbox-03"
                    />普段行かない街や駅を知ることができ、理解が深まった</label
                  >
                </li>
                <li>
                  <label class="st"><input type="checkbox" name="東京・メトロのイメージ2" value="もっと東京の街を知りたいと思った" class="js-checkbox-03" />もっと東京の街を知りたいと思った</label>
                </li>
                <li>
                  <label class="st"
                    ><input type="checkbox" name="東京・メトロのイメージ3" value="一日乗車券を今後も利用してみたいと思った" class="js-checkbox-03" />一日乗車券を今後も利用してみたいと思った</label
                  >
                </li>
                <li>
                  <label class="st"><input type="checkbox" name="東京・メトロのイメージ4" value="乗り換えが便利だった" class="js-checkbox-03" />乗り換えが便利だった</label>
                </li>
                <li><input type="text" name="東京・メトロのイメージ（その他）" style="ime-mode: disabled" placeholder="その他の場合、ご記入ください。" class="js-checkbox-03" /></li>
              </ul>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title">どの街を舞台にした「ナゾトキ街歩きゲーム」に参加したいと思いますか？</div>
              <textarea type="text" name="参加したい街歩きゲーム" rows="6" cols="50"></textarea>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title">その他感想を自由にお書きください</div>

              <textarea type="text" name="感想" rows="6" cols="50"></textarea>
            </div>

            <div class="p-ank__item">
              <div class="p-ank__title">
                メールアドレス<br /><span class="p-ank__note"
                  >リアル脱出ゲームなどの最新情報をお届けする、SCRAPからのメールマガジンの配信を希望される方はメールアドレスをご入力ください。既にメールマガジンの登録がお済みの方は入力不要です。</span
                >
              </div>
              <input
                type="email"
                name="メールアドレス"
                style="ime-mode: disabled"
                pattern=".+@.+\..+"
                title="メールアドレスは、aaa@example.com のような形式で記入してください。"
                autocomplete="email"
                id="js-form-mail"
              />
            </div>

            <div class="a-button--type2 p-ank__button">
              <button class="" id="submit" alt="送信" type="submit"><i></i><span>送信する</span></button>
            </div>

            <div class="p-ank__error-text"><p id="js-error-message"></p></div>
          </form>
        </div>
      </div>
      <footer class="o-footer">
        <div class="o-footer__top">
          <ul class="o-footer__logo">
            <li>
              <a href="https://www.scrapmagazine.com/" target="_blank"><img src="../assets/images/logo-scrap.png" alt="SCRAP" /></a>
            </li>
            <li>
              <a href="https://realdgame.jp/" target="_blank"><img src="../assets/images/logo-realdgame.png" alt="リアル脱出ゲーム" /></a>
            </li>
            <li>
              <a href="https://www.tokyometro.jp/index.html" target="_blank"><img src="../assets/images/logo-metro.png" alt="東京メトロ" /></a>
            </li>
          </ul>

          <ul class="o-footer__sns">
            <li>
              <a href="https://twitter.com/realdgame" target="_blank"><img src="../assets/images/icon-x.svg" alt="X" /></a>
            </li>
            <li>
              <a href="https://www.facebook.com/realdgame" target="_blank"><img src="../assets/images/icon-fb.svg" alt="Facebook" /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/scrap_official_insta/" target="_blank"><img src="../assets/images/icon-inst.svg" alt="Instagram" /></a>
            </li>
          </ul>

          <div class="o-footer__contact">
            <div class="o-footer__contact-heading">お問い合わせ先</div>
            <div class="o-footer__contact-body"><a href="https://www.tokyometro.jp/support/index.html" target="_blank">東京メトロお客様センター</a><br /></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
