@use "sass:math";
@use "../shitaji" as *;

.a-icon {
  @include bg($yellow);
  @include flex(center, center, nowrap);

  width: 20px;
  height: 20px;
  border-radius: 40px;

  span {
    @include zenmaru;
    @include fz(12, 12, 0.05);

    color: $black;
  }
}
