<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'リクエスト'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper t-layout">
      <div class="t-layout__inner">
        <%- include("../_header"); %>
        <div class="t-layout__content">
          <!-- heading -->
          <div class="t-layout__heading">
            <a href="index-08.html"><i></i></a>
            <div class="t-layout__heading-title">条件リクエスト</div>
          </div>
          <!-- /heading -->

          <main class="p-request">
            <div class="p-request__progress">
              <div class="p-request__progress-caption">70%完了</div>
              <progress max="100" value="70"></progress>
            </div>
            <div class="p-request__main">
              <div class="p-request__title">チャットに参加できるブリーダーのご希望人数をお聞かせください。</div>
              <ul class="p-request__radio">
                <li>
                  <label><input type="radio" name="ブリーダー人数" value="最大5名" class="js-checkbox-01" />最大5名</label>
                </li>
                <li>
                  <label><input type="radio" name="ブリーダー人数" value="最大10名" class="js-checkbox-01" />最大10名</label>
                </li>
                <li>
                  <label><input type="radio" name="ブリーダー人数" value="最大15名" class="js-checkbox-01" />最大15名</label>
                </li>
                <li>
                  <label><input type="radio" name="ブリーダー人数" value="最大20名" class="js-checkbox-01" />最大20名</label>
                </li>
                <li>
                  <label><input type="radio" name="ブリーダー人数" value="制限なし" class="js-checkbox-01" />制限なし</label>
                </li>
              </ul>
              <div class="p-request__note">※ご希望のリクエスト内容により、参加希望人数を下回る場合もあります。</div>
            </div>

            <div class="p-request__button">
              <div class="p-request__back">
                <a href="index-08.html"> 前にもどる </a>
              </div>
              <div class="a-button--type1 p-request__next">
                <a href="index-10.html"> 次へ </a>
              </div>
            </div>
          </main>
        </div>
        <%- include("../_footer"); %>
      </div>
    </div>
  </body>
</html>
