<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'リクエスト'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper t-layout">
        <div class="t-layout__inner">
      <%- include("../_header"); %>
      <div class="t-layout__content">

        <!-- heading -->
       <div class="t-layout__heading">
        <a href=""><i></i>
        </a>
        <div class="t-layout__heading-title">条件リクエスト</div>
       </div>
 <!-- /heading -->
  
       <main class="p-request">
        <div class="p-request__progress">
            <div class="p-request__progress-caption">20%完了</div>
        <progress max="100" value="20"></progress>
    </div>
    <div class="p-request__main">
            <div class="p-request__title">犬種サイズ</div>
            <ul class="p-request__checkbox">
              <li class="p-request__main-heading">
                大型犬
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-6" value="ゴールデンレトリバー" class="js-checkbox-01" />ゴールデンレトリバー</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-7" value="ラブラドールレトリバー" class="js-checkbox-01" />ラブラドールレトリバー</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-8" value="ホワイトレトリバー" class="js-checkbox-01" />ホワイトレトリバー</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-11" value="グレートピレニーズ" class="js-checkbox-01" />グレートピレニーズ</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-21" value="ドーベルマン" class="js-checkbox-01" />ドーベルマン</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-22" value="スタンダードプードル" class="js-checkbox-01" />スタンダードプードル</label>
              </li>
              <li class="p-request__main-heading">
                中型犬
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-9" value="カニンヘンダックスフンド" class="js-checkbox-01" />カニンヘンダックスフンド</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-10" value="ヨークシャテリア" class="js-checkbox-01" />ヨークシャテリア</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-14" value="ウィペット" class="js-checkbox-01" />ウィペット</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-19" value="ボーダーコリ―" class="js-checkbox-01" />ボーダーコリ―</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-23" value="ミディアムプードル" class="js-checkbox-01" />ミディアムプードル</label>
              </li>
              <li class="p-request__main-heading">
                小型犬
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-1" value="チワワ" class="js-checkbox-01" />チワワ</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-2" value="ポメラニアン" class="js-checkbox-01" />ポメラニアン</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-3" value="ミニチュアダックスフンド" class="js-checkbox-01" />ミニチュアダックスフンド</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-4" value="フレンチブルドッグ" class="js-checkbox-01" />フレンチブルドッグ</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-5" value="ミニチュアシュナウザー" class="js-checkbox-01" />ミニチュアシュナウザー</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-12" value="豆柴" class="js-checkbox-01" />豆柴</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-13" value="イタリアングレーハウンド" class="js-checkbox-01" />イタリアングレーハウンド</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-15" value="マルチーズ" class="js-checkbox-01" />マルチーズ</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-16" value="スキッパーキ" class="js-checkbox-01" />スキッパーキ</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-17" value="パピヨン" class="js-checkbox-01" />パピヨン</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-18" value="シェルティ" class="js-checkbox-01" />シェルティ</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-20" value="ラフコリー" class="js-checkbox-01" />ラフコリー</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-24" value="ミニチュアプードル" class="js-checkbox-01" />ミニチュアプードル</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-25" value="トイプードル" class="js-checkbox-01" />トイプードル</label>
              </li>
              <li class="p-request__main-heading">
                超小型犬
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-26" value="タイニープードル" class="js-checkbox-01" />タイニープードル</label>
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-27" value="ティーカッププードル" class="js-checkbox-01" />ティーカッププードル</label>
              </li>
              <li class="p-request__main-heading">
                その他
              </li>
              <li>
                <label><input type="checkbox" name="犬種サイズ-28" value="ブリーダーにおまかせ" class="js-checkbox-01" />ブリーダーにおまかせ</label>
              </li>
              <input type="text" name="どなたと（その他）" style="ime-mode: disabled" placeholder="犬種を指定する" class="js-radio-05" />
            </ul>
    </div>

    <div class="p-request__button">
    <div class="p-request__back">
      <a href="index-02.html">
        前にもどる
      </a>
    </div>
    <div class="a-button--type1 p-request__next">
        <a href="index-04.html">
            次へ
        </a>
    </div>
  </div>
</main>
      </div>
      <%- include("../_footer"); %>
    </div>
</div>
  </body>
</html>
