<!DOCTYPE html>
<html lang="ja">
  <% const baseMeta = {title: 'リクエスト'} %>
  <head>
    <%- include("../_head", {baseMeta: baseMeta}); %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3K63C" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper t-layout">
      <div class="t-layout__inner">
        <%- include("../_header"); %>
        <div class="t-layout__content">
          <!-- heading -->
          <div class="t-layout__heading">
            <div class="t-layout__heading-title">条件リクエスト</div>
          </div>
          <!-- /heading -->

          <main class="p-request">
            <div class="m-block-fix">
              <div class="m-block-fix__heading">
                <i></i>
                <span> ご登録ありがとうございます。 </span>
              </div>
              <div class="m-block-fix__image">
                <img src="../assets/images/img-fix-request.png" alt="" />
              </div>
              <div class="m-block-fix__body">
                <p>お客様のリクエスト（ご希望のペット情報）を、ブリーダーに送信いたしました。現在、リクエスト内容に対応可能なブリーダーからのエントリーを募集しております。</p>
                <p>エントリーがあり次第、「お知らせ」メニューにてご案内いたします。</p>
                <p>少しお時間をいただく場合もございますが、どうぞ楽しみにお待ちください。</p>
              </div>
            </div>

            <div class="p-request__button">
              <div class="a-button--type2 p-request__next">
                <a href=""> トップページへ </a>
              </div>
            </div>
          </main>
        </div>
        <%- include("../_footer"); %>
      </div>
    </div>
  </body>
</html>
