@use "sass:math";
@use "../shitaji" as *;

.m-list-dot {
  li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
  }
}

.m-list-flex {
  li {
    @include grid;

    column-gap: 16px;
  }
}
