@use "variables" as *;
@use "mixin" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 48px;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-primary;
  font-weight: 300;
  color: $black;
  margin: 0;

  @include fz(16, 32, 0.05);

  &.is-active {
    overflow: hidden;
  }
}

.wrapper {
  display: block;
  overflow: hidden;
  transition: opacity 0.5s linear;
}

main {
  padding: 0 16px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  + p {
    margin-top: 1rem;
  }
}

.link {
  color: $yellow-2;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}

.note {
  @include fz(12, 20, 0.03);
}

@keyframes textSlideUp {
  0% {
    transform: translate3d(0, 120%, 0);
  }
  60% {
    transform: translate3d(0, -10%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

.js-text-slideup {
  overflow: hidden;
  position: relative;
  height: 32px;

  &.is-active {
    span {
      animation: 0.9s textSlideUp cubic-bezier(0.23, 1, 0.32, 1) 0.2s forwards;
    }
  }

  span {
    transform: translate3d(0, 120%, 0);
    display: inline-block;
    vertical-align: top;

    &:nth-child(1) {
      animation-delay: 0.05s;
    }

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.15s;
    }

    &:nth-child(4) {
      animation-delay: 0.2s;
    }

    &:nth-child(5) {
      animation-delay: 0.25s;
    }

    &:nth-child(6) {
      animation-delay: 0.3s;
    }

    &:nth-child(7) {
      animation-delay: 0.35s;
    }

    &:nth-child(8) {
      animation-delay: 0.4s;
    }

    &:nth-child(9) {
      animation-delay: 0.45s;
    }

    &:nth-child(10) {
      animation-delay: 0.5s;
    }

    &:nth-child(11) {
      animation-delay: 0.55s;
    }

    &:nth-child(12) {
      animation-delay: 0.6s;
    }
    &:nth-child(13) {
      animation-delay: 0.65s;
    }
    &:nth-child(14) {
      animation-delay: 0.7s;
    }
    &:nth-child(15) {
      animation-delay: 0.75s;
    }
    &:nth-child(16) {
      animation-delay: 0.8s;
    }
    &:nth-child(17) {
      animation-delay: 0.85s;
    }
  }
}

::selection {
  color: $white;
  background: $yellow;
}

.note {
  @include fz(11, 16, 0.05);
}

/* modal */

.js-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 1s ease-in-out;
  z-index: 88;
  left: 0;
  top: 0;
  animation: show 0.2s ease;
}

.of-h {
  overflow: hidden;
}
