@use "variables" as *;

.p-top-read__block-03 {
  z-index: 1 !important;
}

.o-footer-action {
  z-index: 2;
}

.o-header {
  z-index: 3;
}

.o-nav__body.is-active {
  z-index: 8;
}

.o-nav__button {
  z-index: 10;
}

.p-top-catch__block::before {
  z-index: 0;
}

.p-top-flow__image::after {
  z-index: -1;
}
