<div class="o-footer__top">
  <ul class="o-footer__logo">
    <li>
      <a href="https://www.scrapmagazine.com/" target="_blank"><img src="./assets/images/logo-scrap.png" alt="SCRAP" /></a>
    </li>
    <li>
      <a href="https://realdgame.jp/" target="_blank"><img src="./assets/images/logo-realdgame.png" alt="リアル脱出ゲーム" /></a>
    </li>
    <li>
      <a href="https://www.tokyometro.jp/index.html" target="_blank"><img src="./assets/images/logo-metro.png" alt="東京メトロ" /></a>
    </li>
  </ul>

  <div class="o-footer__sponsor">協力：株式会社丸善ジュンク堂書店</div>

  <div class="o-footer__contact">
    <div class="o-footer__contact-heading">お問い合わせ先</div>
    <div class="o-footer__contact-body">
      東京メトロお客様センター<br />
      <a href="https://www.tokyometro.jp/support/index.html" target="_blank">お問い合わせ</a><br />
      <br />
      謎解きキット購入に関するお問い合わせのみ下記へお願いいたします。<br />
      SCRAP東京本社<br />
      TEL: <a href="tel:0353414570">03-5341-4570</a><br />
      (11:00～19:00)<br />
      <a href="https://www.scrapmagazine.com/general/" target="_blank">お問い合わせ</a>
    </div>
  </div>
</div>

<div class="o-footer__bottom">
  <div class="o-footer__copyright">
    ©︎SCRAP / Tokyo Metro Co., Ltd. All rights reserved.<br />
    「地下謎」、「ナゾトキ街歩きゲーム」は株式会社SCRAPの登録商標です。
  </div>
</div>

<div class="o-footer-action" id="js-scroll-share">
  <ul class="o-footer-action__info">
    <li class="a-button--type2">
      <a href="#ticketinfo" class="js-modal-button o-footer-action__kit">
        <i></i>
        謎解き<br />キット購入
      </a>
    </li>
    <li class="o-footer-action__share">
      <button data-modal="modal-share" class="js-modal-button">
        <img src="./assets/images/icon-share.svg" alt="" />
        #地下謎
      </button>
    </li>
  </ul>

  <ul class="o-footer-action__game m-block-action">
    <li class="m-block-action__hints">
      <a href="hints/">
        <i></i>
        <div class="m-block-action__hints-inner">
          <h2 class="a-heading__en">HINTS</h2>
          <div class="a-heading__ja">ヒント</div>
        </div>
      </a>
    </li>
  </ul>
</div>

<!-- モーダル -->
<div class="p-top-read__modal js-modal" id="modal-kit">
  <div class="p-top-read__modal-inner">
    <div class="js-modal-close p-top-read__modal-close">
      <span></span>
      <span></span>
    </div>
    <div class="p-top-read__modal-content">
      <div class="a-heading--type3 p-top-read__modal-heading">
        <div class="p-top-read__modal-icon">
          <img src="./assets/images/icon-attention.svg" alt="" />
        </div>
        <h3 class="a-heading__ja">チケット購入時のご注意</h3>
      </div>
      <div>
        <div class="p-top-ticketinfo__block-text">
          『地下謎への招待状 2025』は、<span>複数日にわたってプレイすることはできません。</span><br />謎解きキットご購入の際は、以下の点にご留意いただき購入をお願いいたします。
        </div>
        <div class="p-top-ticketinfo__block-text">謎解きキットを引き換えてから、引換日の終電までのみプレイが可能です。</div>
        <div class="p-top-ticketinfo__block-text">別日、また複数日にわたってのプレイはできませんので、プレイする日を選んでご購入ください。</div>
        <div class="p-top-ticketinfo__block-text">
          謎解き開始後1〜2時間程で訪れる駅には9:30〜16:00/7:00〜17:00までしか立ち入れない場所があります。該当駅は複数の選択肢から選ぶ駅のため、訪れずにプレイすることは可能です。
        </div>

        <div class="a-button--type2 p-top-read__modal-button">
          <a href="#ticketinfo" class="js-modal-close"><i></i>購入画面へ</a>
        </div>
      </div>
      <div class="p-top-read__modal-tojiru js-modal-close">とじる</div>
    </div>
  </div>
</div>
<!-- /モーダル -->

<!-- シェアボタン -->
<div class="o-footer-share js-modal" id="modal-share">
  <div class="o-footer-share__bg js-modal-close"></div>
  <div class="o-footer-share__inner">
    <div class="o-footer-share__hash">
      <a href="">
        <img src="./assets/images/icon-share.svg" alt="" />
        #地下謎
      </a>
    </div>
    <ul class="o-footer-share__list">
      <li>
        <a
          href="https://twitter.com/intent/tweet?text=%EF%BC%8F%0D%0A%E3%80%8E%E5%9C%B0%E4%B8%8B%E8%AC%8E%E3%81%B8%E3%81%AE%E6%8B%9B%E5%BE%85%E7%8A%B6%202025%E3%80%8F%0D%0A2025%E5%B9%B410%E6%9C%881%E6%97%A5%E3%82%88%E3%82%8A%E9%96%8B%E5%82%AC%21%21%20%F0%9F%9A%87%0D%0A%EF%BC%BC%0D%0A%0D%0A%E7%B4%AF%E8%A8%8851%E4%B8%87%E4%BA%BA%E4%BB%A5%E4%B8%8A%E3%81%8C%E9%81%8A%E3%82%93%E3%81%A0%20%23%E5%9C%B0%E4%B8%8B%E8%AC%8E%20%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA%E6%9C%80%E6%96%B0%E4%BD%9C%EF%BC%81%0D%0A%E6%9D%B1%E4%BA%AC%E3%83%A1%E3%83%88%E3%83%AD%E3%81%AB%E4%B9%97%E3%81%A3%E3%81%A6%E3%80%81%E8%A8%AA%E3%82%8C%E3%82%8B%E9%A7%85%E3%81%94%E3%81%A8%E3%81%AB%E5%A4%89%E3%82%8F%E3%82%8B%E3%80%81%E3%81%82%E3%81%AA%E3%81%9F%E3%81%A0%E3%81%91%E3%81%AE%E6%9D%B1%E4%BA%AC%E6%97%85%E3%81%B8%E5%87%BA%E3%81%8B%E3%81%91%E3%82%88%E3%81%86%E3%80%82%0D%0A%0D%0Ahttps%3A%2F%2Frealdgame.jp%2Fs%2Fchikanazo2025%2F%3Futm_source%3Dtwitter%26utm_medium%3Dsocial%26utm_campaign%3Dshare_chikanazo2025 https://realdgame.jp/s/chikanazo2025/?utm_source=twitter&utm_medium=social&utm_campaign=share_chikanazo2025"
          target="_blank"
          ><img src="./assets/images/icon-x.svg" alt="X"
        /></a>
      </li>
      <li>
        <a
          href="http://line.me/R/msg/text/?%EF%BC%8F%0D%0A%E3%80%8E%E5%9C%B0%E4%B8%8B%E8%AC%8E%E3%81%B8%E3%81%AE%E6%8B%9B%E5%BE%85%E7%8A%B6%202025%E3%80%8F%0D%0A2025%E5%B9%B410%E6%9C%881%E6%97%A5%E3%82%88%E3%82%8A%E9%96%8B%E5%82%AC%21%21%20%F0%9F%9A%87%0D%0A%EF%BC%BC%0D%0A%0D%0A%E7%B4%AF%E8%A8%8851%E4%B8%87%E4%BA%BA%E4%BB%A5%E4%B8%8A%E3%81%8C%E9%81%8A%E3%82%93%E3%81%A0%20%23%E5%9C%B0%E4%B8%8B%E8%AC%8E%20%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA%E6%9C%80%E6%96%B0%E4%BD%9C%EF%BC%81%0D%0A%E6%9D%B1%E4%BA%AC%E3%83%A1%E3%83%88%E3%83%AD%E3%81%AB%E4%B9%97%E3%81%A3%E3%81%A6%E3%80%81%E8%A8%AA%E3%82%8C%E3%82%8B%E9%A7%85%E3%81%94%E3%81%A8%E3%81%AB%E5%A4%89%E3%82%8F%E3%82%8B%E3%80%81%E3%81%82%E3%81%AA%E3%81%9F%E3%81%A0%E3%81%91%E3%81%AE%E6%9D%B1%E4%BA%AC%E6%97%85%E3%81%B8%E5%87%BA%E3%81%8B%E3%81%91%E3%82%88%E3%81%86%E3%80%82%0D%0A%0D%0Ahttps%3A%2F%2Frealdgame.jp%2Fs%2Fchikanazo2025%2F%3Futm_source%3Dline%26utm_medium%3Dsocial%26utm_campaign%3Dshare_chikanazo2025 https://realdgame.jp/s/chikanazo2025/?utm_source=line&utm_medium=social&utm_campaign=share_chikanazo2025"
          target="_blank"
          ><img src="./assets/images/icon-line.svg" alt="line"
        /></a>
      </li>
      <li class="js-postig">
        <img src="./assets/images/icon-inst.svg" alt="instagram" />
      </li>
    </ul>
  </div>
</div>
<!-- /シェアボタン -->
