<footer class="o-footer t-layout__footer">
  <div class="o-footer__inner">
    <div class="o-footer__section">
      <div class="o-footer__section-inner">
        <div class="o-footer__heading">サービスについて</div>
        <ul class="o-footer__list">
          <li>
            <a href="">利用ガイド</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="o-footer__section">
      <div class="o-footer__section-inner">
        <div class="o-footer__heading">ヘルプ</div>
        <ul class="o-footer__list">
          <li>
            <a href="../faq/">よくある質問</a>
          </li>
          <li>
            <a href="../contact/">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="o-footer__section">
      <div class="o-footer__section-inner">
        <ul class="o-footer__list">
          <li>
            <a href="">利用規約</a>
          </li>
          <li>
            <a href="">プライバシーポリシー</a>
          </li>
          <li>
            <a href="">運営会社</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="o-footer-copy">© 2025 Pettrio</div>
  </div>
</footer>
