<header class="o-header o-header-top" id="js-scroll-top">
  <nav class="o-nav" id="js-nav">
    <div class="o-nav__button" id="js-nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="o-nav__body" id="js-nav-content">
      <div class="o-nav__line">
        <div class="o-nav__logo">
          <a href="">
            <img src="./assets/images/logo.svg" alt="地下謎への招待状2023" />
          </a>
        </div>
      </div>
      <ul class="o-nav__list js-nav-list">
        <li>
          <a href="index.html">
            <div class="o-nav__en">Top</div>
            <span class="o-nav__ja">トップ</span>
          </a>
        </li>
        <li>
          <a href="#introduction">
            <div class="o-nav__en">Introduction</div>
            <span class="o-nav__ja">イントロダクション</span>
          </a>
        </li>
        <li>
          <a href="#howtoplay">
            <div class="o-nav__en">How to play</div>
            <span class="o-nav__ja">遊び方</span>
          </a>
        </li>
        <li>
          <a href="#information">
            <div class="o-nav__en">Information</div>
            <span class="o-nav__ja">イベント概要</span>
          </a>
        </li>
        <li>
          <a href="#ticketinfo">
            <div class="o-nav__en">Ticket Information</div>
            <span class="o-nav__ja">謎解きキット販売情報</span>
          </a>
        </li>
        <li class="o-nav__item-s">
          <a href="#attention">
            <div class="o-nav__en">Attention</div>
            <span class="o-nav__ja">注意事項</span>
          </a>
        </li>
        <li class="o-nav__item-s">
          <a href="#faq">
            <div class="o-nav__en">FAQ</div>
            <span class="o-nav__ja">よくある質問</span>
          </a>
        </li>
        <li class="o-nav__item-s">
          <a href="#usagerestrictions">
            <div class="o-nav__en">Before You Attend</div>
            <span class="o-nav__ja">イベントご参加にあたり</span>
          </a>
        </li>
        <li class="o-nav__item-s">
          <a href="#news">
            <div class="o-nav__en">News</div>
            <span class="o-nav__ja">お知らせ</span>
          </a>
        </li>
      </ul>

      <!-- ANSWER / HINTS -->
      <!-- <ul class="o-nav__action m-block-action">
        <li class="m-block-action__answer">
          <a href="answer/">
            <h2 class="a-heading__en">ANSWER</h2>
            <div class="a-heading__ja">解答はこちら</div>
          </a>
        </li>
        <li class="m-block-action__hints">
          <a href="hints/">
            <h2 class="a-heading__en">HINTS</h2>
            <div class="a-heading__ja">ヒント</div>
          </a>
        </li>
      </ul> -->
      <!-- /ANSWER / HINTS -->
    </div>
  </nav>
</header>
