<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<title>【公式】ペトリオ</title>
<!-- ogp -->
<meta property="og:site_name" content="【公式】ペトリオ" />
<meta property="og:title" content="【公式】ペトリオ" />
<meta property="og:description" content="【公式】ペトリオ" />
<meta property="og:keywords" content="【公式】ペトリオ" />
<meta property="og:url" content="https://realdgame.jp/s/chikanazo2025/" />
<meta property="og:image" content="https://realdgame.jp/s/chikanazo2025/assets/images/ogimg.png" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="【公式】ペトリオ" />
<meta name="twitter:description" content="【公式】ペトリオ" />
<meta name="twitter:image" content="https://realdgame.jp/s/chikanazo2025/assets/images/ogimg.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&family=Zen+Maru+Gothic:wght@700&display=swap" rel="stylesheet" />
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/app.js"></script>
